<div class="container-fluid">
<div class="row">
  <div class="col-sm-12">
    <button (click)="addService(null)" mat-raised-button class="btn-primary pull-right" style="margin-top: 15px; margin-right: 5px;">Add Service Challan</button>
    <button (click)="filterToggle=!filterToggle" color="primary" mat-raised-button class="btn-primary pull-right" style="margin-top: 15px; margin-right: 5px;"><mat-icon>filter_list</mat-icon> Filter</button>
  </div>

  
  <div fxLayout="row wrap" *ngIf="filterToggle">
    <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100 margins">
      <mat-card class="filter">
        <mat-card-content>
          <div class="row">
            <div class="col-sm-4" style="padding-top:20px">
              <div class="col-sm-4 newMarginClass">
                Work Order:
              </div>
              <div class="col-sm-8">
                <input type="text" placeholder="Search by any record" class="form-control">
              </div>
            </div>
            <div class="col-sm-4" style="padding-top:20px">
              <div class="col-sm-4 newMarginClass">
                Vendor:
              </div>
              <div class="col-sm-8">
                <input type="text" id="" class="form-control" placeholder="Enter Vendor">
              </div>
            </div>
            <div class="col-sm-4" style="padding-top:20px">
              <div class="col-sm-4 newMarginClass">
                Purchase Order:
              </div>
              <div class="col-sm-8">
                <input type="text" id="" class="form-control" placeholder="Enter Purchase Order">
              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-sm-4" style="padding-top:20px">
              <div class="col-sm-4 newMarginClass">
                From Date:
              </div>
              <div class="col-sm-8">
                <input type="date" placeholder="Search by any record" class="form-control">
              </div>
            </div>
            <div class="col-sm-4" style="padding-top:20px">
              <div class="col-sm-4 newMarginClass">
                To Date:
              </div>
              <div class="col-sm-8">
                <input type="date" id="" class="form-control" placeholder="Enter Vendor">
              </div>
            </div>
            <div class="col-sm-4" style="padding-top:20px">
              <div class="col-lg-1" style="margin-left: 200px;">
                <button mat-raised-button class="pull-right btn-primary">
                  <mat-icon>youtube_searched_for</mat-icon> Search
                </button>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <button mat-raised-button style="background-color:#37474f; color:#fff !important">
                  <mat-icon>settings_backup_restore</mat-icon> Clear
                </button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-xs-12">
    <div id="grid-table-container" class="table-responsive">
      <table matSort id="example2" class="table table-bordered table-hover">
        <thead class="tbl-head">
          <tr>
            <th class="text-center">Challan Ref</th>
            <th class="text-center">Work Order Ref</th>
            <th class="text-center">Release Date</th>
            <th class="text-center">Target Date</th>
            <th class="text-center">Vendor Name</th>
            <th class="text-center"> Remarks</th>
            <!-- <th class="text-center">Gate Passes</th> -->
            <th class="text-center">Description</th>
            <th class="text-center">Parts</th>
            <th class="text-center">Equipment</th>
            <th class="text-center" style="width: 100px;">Status</th>
            <th class="text-center" style="width: 112px!important;">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td class="text-center">{{item.challan}}</td>
            <td class="text-center"  style="cursor: pointer;color: blue;" routerLink="/purchase/servicecontracts/work-orders">{{item.vendor}}</td>
            <td class="text-center">{{item.ReleaseDate}}</td>
            <td class="text-center">{{item.wOrder}}</td>
            <td class="text-center">{{item.VendorName}}</td>
            <td class="text-center">{{item.remarks}}</td>
            <!-- <td class="text-center" style="color: blue;cursor: pointer;" (click)="ServicesPop()"  >{{item.cat}}</td> -->
            <td class="text-center" (click)="NotesPop()">           
              {{item.Description}}
            </td>            
            
            <td class="text-center" routerLink="/purchase/servicecontracts/service-challans/parts"
            style="color: blue; cursor: pointer;">{{item.Parts}}</td>  
            
            <td class="text-center" 
            routerLink="/purchase/servicecontracts/service-challans/equiments" style="color: blue; cursor: pointer;">{{item.Equipment}}</td>

            <td class="text-center"> <a 
              class="status"
              mwlConfirmationPopover
              [popoverTitle]="popoverStatusTitle"
              [popoverMessage]="popoverStatusMessage"
              placement="left"
              (confirm)="saveStatus();item.vcStatus=!item.vcStatus"
              (cancel)="cancelClicked = true">
              <!-- {{item.vcStatus?'Active':'Inactive'}} -->
              <span *ngIf="! item.vcStatus" style="color:red">Inactive</span>
                    <span *ngIf=" item.vcStatus">Active</span>
            </a></td>
         
            <td class="text-center">
              <a style="cursor: pointer;margin-right:0px;margin-left: -5px; " matTooltip="Edit Challan">
                <i class="fa fa-edit" style="color: cornflowerblue; cursor: pointer;" (click)="addService(item)"></i>
              </a>
              <a  style="cursor: pointer;margin-right:10px; " matTooltip="Send">
                <mat-icon style="color: green;font-size: 16px;" >send</mat-icon>
              </a>       
              <a><i class="fa fa-trash red" matTooltip="Delete Challan" 
                style="cursor: pointer;"></i></a>
            </td>
         
          </tr>
        </tbody>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
</div>