
<!-- <div class="col-sm-12 mb-10 " style="margin-top: 5px; padding-bottom: 10px;">
   
  <button type="button" class="btn btn-secondary pull-right" routerLink="/purchase/inventory-management/stock-transfers/stocktransferorder/requests"  > Back</button>
  
</div> -->

<div class="container-fluid">
  <div class="flex-p" style="margin:0px!important; padding:0px!important">
    <div class="row wrap">
        <div class="col-sm-12 no-padding">
            <div class="row-wrap">
                <div class="w-100">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pills">
                                <ul class="nav nav-pills pull-right">
                                    <li routerLink="/purchase/inventory-management/stock-transfers/stocktransferorder/requests">
                                        <a mat-raised-button class="navtabWidth"><mat-icon>arrow_left_alt</mat-icon>
                                            Back
                                        </a>
                                    </li>                             
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <div class="w-100" >
  <div class="flex-p">
  <mat-drawer-container>
  <mat-drawer-content>
  <mat-card class="col-sm-12" style="background-color: #dbe8f3 !important;width: 100%;">
    <div class= "row" >
      <div class="col-sm-4 no-padding">
        <label> Request No.:</label>
        <span>&nbsp;&nbsp;STO/OTP-OM/OCT-19/10001</span>
      </div>
      <div class="col-sm-4 no-padding">
        <label> Request Date:</label>
        <span>&nbsp;&nbsp;07-Oct-2019</span>
      </div>
      <div class="col-sm-4 no-padding">
        <label> Sending Project:</label>
        <span>&nbsp;&nbsp;Singrauli</span>
      </div>
    </div>
    <div class= "row" style="margin-top: 10px;">
      <div class="col-sm-4 no-padding">
        <label> Equipment Type:</label>
        <span>&nbsp;&nbsp;Backhoe Loader</span>
      </div>
      <div class="col-sm-4 no-padding">
        <label> Equipment Make:</label>
        <span>&nbsp;&nbsp;Tata</span>
      </div>
      <div class="col-sm-4 no-padding">
        <label> Equipment Model:</label>
        <span>&nbsp;&nbsp;D85ESS 87</span>
      </div>
    </div>
    <div class= "row">
      <div class="col-sm-12 no-padding">
        <mat-icon class="pull-right" style="cursor:pointer;color: #2da3ff;" (click)="editspopapproveitem()">
          edit</mat-icon>
      </div>
    </div>
   
    
  </mat-card>
  </mat-drawer-content>
  </mat-drawer-container>
  </div>
  </div>
</div>

<div class="container-fluid">
  <!-- table1 -->
  <div class="col-sm-12 " style="margin-top: 10px; margin-bottom: 10px;">
    <div class="col-sm-2">
      <h3 class="pull-right">Request Title:</h3>
    </div>
    <div class="col-sm-10">
      CHECK IF STOCK UPDATED FROM OPENING STOCK IS REFLECTTING OR NOT
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-xs-12">
      <div id="grid-table-container" class="table-responsive">
        <table matSort id="example2" class="table table-bordered table-hover">
          <thead class="tbl-head">
            <tr>
              <th class="text-center">Sl.No.</th>
              <th class="text-center">Item.no.</th>
              <th class="text-center">Item name</th>
              <th class="text-center">Total Stock Qty</th>
              <th class="text-center">Surplus Stock Qty</th>
              <th class="text-center">Approved Qty</th>
              <th class="text-center" style="width: 112px!important;">Remarks</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items">
              <td class="text-center">{{item.slno}}</td>
              <td class="text-center">{{item.itemno}}</td>
              <td class="text-center">{{item.itemname}}</td>
              <td class="text-center" style="cursor:pointer;color: blue;" (click)="totalstockqty()">{{item.totalstockqty}}</td>
              <td class="text-center" style="cursor:pointer;color:blue" (click)="surplusstockqty()" >{{item.surplusstockqty}}</td>
              <td class="text-center">{{item.requiredqty}}</td>
              <td class="text-center">{{item.Remarks}}</td>
              
            </tr>
          </tbody>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
  </div>



<!-- 2nd table -->
<div style="margin-left: 15px;">
  <h3 class="flex-p w-100">Activity Log</h3>
</div>

<div fxLayout="row wrap">
  <div class="flex-p w-100 sizeAlign">
    <div class="row">
      <div class="col-xs-12">
        <div id="grid-table-container" class="table-responsive" style="margin-left: 10px;">
          <table matSort id="example2" class="table table-bordered table-hover">
            <thead class="tbl-head">
              <tr>
                <th class="text-center">Data&Time</th>
                <th  class="text-center">Stage </th>
                <th class="text-center">Reference</th>
                <th  class="text-center">Action</th>
                <th  class="text-center">User</th>
                <th  class="text-center">Remarks</th>
                <th  class="text-center">Download Documents</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items2">

                <td class="text-center">{{item.date}}</td>
                <td  class="text-center">{{item.stage}}</td>
                <td  class="text-center">{{item.Reference}}</td>
                <td  class="text-center">
                  <span>{{item.Action}}</span>
                </td>
                <td  class="text-center">{{item.User}}</td>
                <td  class="text-center">{{item.remarks}}</td>
                <td  class="text-center" matTooltip="Download Doc"><mat-icon>download</mat-icon></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>