<div class="row ">
  <div class="col-sm-6 ">

  </div>
  <div class="col-sm-6 " style="margin-left: -24px">
    <div class="pull-right">

      <button mat-raised-button class="pull-right add-hover" (click)="addpayables(null)" style="color:white; background:#3b7bb8;margin-right:10px">
        <mat-icon>add</mat-icon> Add Payables
      </button>
    </div>
  </div>
</div>

<div fxLayout="row wrap" style="width: 98.5%; margin-top: 15px;">
  <div class="table-responsive">
    <table id="example2" class="table table-bordered table-hover" style="margin-left:14px;width: 99%;max-width: 99%;margin-bottom: 20px;">
      <thead class="tbl-head">
        <tr class="tr-grid-header">
          <th>Vendor Name</th>
          <th>Vendor Type</th>
          <th>Date Submitted</th>
          <th>Due Date</th>  
          <th>Amount Billed</th>          
          <th>Invoice #</th>       
          <th class="text-center">Order Reference</th>
          <th>Amount Paid</th>
          <th>Balance</th>
          <th>Remarks</th>
          <th class="text-center">Payments</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let items of tableList">
          <td>
              {{ items.name }}
          </td>
          <td>
            <!-- <a style="color:blue;cursor: pointer;"  target="_blank" > {{ items.invoice }}</a> -->
            {{ items.type }}
          </td>
          <td>
              {{ items.sub }}
          </td>
          <td>
            {{ items.due }}
          </td>
          <td>
            {{ items.bill }}
        </td>
        <td>
          {{ items.inv }}
        </td>
        <td class="text-center">
          <!-- <a style="color:blue; cursor:pointer;" target="_blank">{{ items.pay }}</a> -->
          {{items.ref}}
        </td>
        <td>
          {{ items.paid }}
        </td>
        <td>
          {{ items.bal }}
        </td>
        <td>
          {{ items.rem }}
        </td>
        <td class="text-center">
          <a style="color:blue; cursor:pointer;" routerLink="/purchase/finance/payables/add-payables">{{ items.paym }}</a>
        </td>

        </tr>
      </tbody>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
