<div class="row" style="margin-bottom:7px;">
    <div class="col-xs-9">
        <div class="flex-p">
            <button mat-raised-button class="pull-right" routerLinkActive="active-link" style="cursor: no-drop" disabled>Finance</button>
            <button mat-raised-button class="pull-right" routerLinkActive="active-link" style="cursor: no-drop" disabled>Purchases</button>
            <button mat-raised-button class="pull-right" routerLinkActive="active-link" style="cursor: no-drop" disabled>Assets</button>
            <button mat-raised-button class="pull-right" routerLinkActive="active-link" routerLink="/admin/manage-users/permissions/contracts-permissions">Contracts</button>
            <button mat-raised-button class="pull-right" routerLinkActive="active-link" routerLink="/admin/manage-users/permissions/project-permissions">Projects</button>
            <button mat-raised-button class="pull-right" routerLinkActive="active-link" routerLink="/admin/manage-users/permissions/quotes-permissions">Quotes</button>
            <button mat-raised-button class="pull-right" routerLinkActive="active-link" routerLink="/admin/manage-users/permissions/client-permissions">Clients</button>
            <button mat-raised-button class="pull-right" routerLinkActive="active-link" routerLink="/admin/manage-users/permissions/radar-permission">Radar</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>