.tab {
  background: #e0e0e0 !important;
  margin-right: 8px;
  padding: 0px 10px;
}
.tabActive {
  background: #50636d !important;
  color: #fff !important;
}

.btn-success-help-job {
  background: #ecdf29 !important;
  color: black !important;
}

.inner-screen {
  color: #246ade !important;
  // text-decoration: underline !important;
  cursor: pointer;
}

.sky-blue-background {
  background: #93c7ef80 !important;
}

.text-right {
  text-align: right;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-left-7 {
  margin-left: 7px;
}

.margin-left-20 {
  margin-left: 20px;
}

::ng-deep .ui-accordion-header {
  width: 45% !important;
}

::ng-deep .ui-accordion-content {
  padding-left: 0px !important;
}

.anchor {
  font-weight: 500 !important;
  color: #0067e7 !important;
  cursor: pointer !important;
}

.no-border {
  border: 0px !important;
}

.shodow-div {
  -webkit-box-shadow: -50px 10px 126px -19px rgba(158, 150, 158, 0.72);
  -moz-box-shadow: -50px 10px 126px -19px rgba(158, 150, 158, 0.72);
  box-shadow: 0px 11px 20px 0px rgba(158, 150, 158, 0.72);
}

.table {
  margin-bottom: 0px !important;
}

#wrap {
  /* Your styling. */
  position: absolute;
  z-index: 999999;
  right: 0;
  height: 60%;
  text-align: center;
  /* Solution part I. */
  display: table;
}

/* Solution part II. */

#inside {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.custom-no-selection {
  vertical-align: middle;
  margin-bottom: 133px;
  color: white;
  line-height: 30px;
}

.background-grey {
  background: #606771e6 !important;
}

.btn-success-help-job {
  background: #ecdf29 !important;
  color: black !important;
}

.inner-screen {
  color: #246ade !important;
  // text-decoration: underline !important;
  cursor: pointer;
}

.ui-treenode-content .ui-treenode-selectable .ui-treenode .ui-treenode-leaf :focus {
  outline: 0px !important;
}

.thead-color {
  background: #50636d !important;
  color: #fff !important;
}

.custom-heading {
  padding-bottom: 8px !important;
  padding-top: 13px !important;
  color: #fff !important;
  background: #4f758c !important;
  margin-top: 10px;
  margin-bottom: 11px;
}

.text-right {
  text-align: right;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-left-7 {
  margin-left: 7px;
}

.margin-left-20 {
  margin-left: 20px;
}

::ng-deep .customAccordian > .ui-accordion > p-accordiontab > .ui-accordion-header {
  width: 100% !important;
  margin-bottom: 9px;
}

.errorClass {
  border: solid 1px red !important;
}

.customAccordian > .ui-accordion > p-accordiontab > .ui-accordion-content-wrapper > .ui-accordion-content {
  padding: 0px !important;
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  background: #286ba5 !important;
  text-align: center !important;
  color: #fff !important;
}

::ng-deep .ptreecustom > .ui-widget-content {
  width: 100% !important;
}

.ptreecustom > .ui-tree {
  background-color: #ffffff !important;
}

::ng-deep .mat-drawer-inner-container {
  background: #fafafa !important;
}

::ng-deep .ui-accordion-content {
  padding: 0px !important;
}

.diabled-custom {
  opacity: 0.6;
  cursor: not-allowed;
}

::ng-deep .app.black-light .mat-drawer-side {
  border-right: solid 0px rgba(0, 0, 0, 0.12) !important;
}

.jumbotron {
  padding: 2px 14px 2px 14px;
  margin-bottom: 5px;
  color: inherit;
  background-color: #ffffff;
}

.margin-top-20 {
  margin-top: 20px;
}

.img {
  width: 100%;
  margin: 15px 0 0 10px;
}

.col-sm {
  background-color: #222222;
  border-color: #fff;
  margin: 1px !important;
  height: 54px;
  padding-top: 5px;
  font-size: 19px;
  text-align: center;
  color: #eee;
  border-radius: 0px;
}

.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border-bottom-width: 2px;
  border: solid 1px;
}

.font-color {
  font-size: 16px;
  color: white !important;
}

.col-sm.tm {
  background-color: #eee;
  border: 1px solid #bbb;
  margin: 15px !important;
  height: 54px;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #444;
  border-radius: 4px;
}

.col-sm.active-prosp-link {
  background: #50636d !important;
  color: #eee;
}

.super-row > .active-prosp-link::after {
  z-index: 99;
  //content: "";
  position: absolute;
  bottom: -20px;
  left: 35%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #50636d;
}

.col-sm.tm.active-prosp-link {
  background: #50636d !important;
  color: #eee;
}

.col-sm.active-prosp-link > a:hover,
.col-sm.tm.active-prosp-link > a:hover {
  background: #50636d;
  box-shadow: 7px 6px 25px #7b7b7bee;
}

a:hover {
  color: #222;
  background: #70818a;
}

h4 {
  font-size: 14px;
}

.mr-8 {
  margin-right: 8px;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  cursor: not-allowed;
  color: red;
}

.disabled {
  cursor: not-allowed;
}

.breadcrumb {
  padding: 8px;
  .mat-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
    padding: 0 6px;
  }
  .breadcrumb-title.active {
    text-transform: uppercase;
    font-weight: 500;
  }
  .breadcrumb-item + .breadcrumb-item:before {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    content: ">>";
  }
}

.margin-right {
  margin-right: 8px;
}

.nomargin {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.breadcrumb {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  background-color: #fafafa !important;
}

.bc {
  background: #e0e0e0 !important;
  border-left: 5px #50636d solid !important;
}

.new {
  background: #222;
  color: #ec0202 !important;
}

.flex-p {
  padding: 11px !important;
}

.disabled-class {
  background: gray;
  cursor: no-drop;
}

.add-job-code {
  background: #fff !important;
  cursor: pointer;
  font-size: 16px !important;
  color: rgba(73, 177, 104, 0.82) !important;
}

.add-job-code :hover {
  background: transparent !important;
}

.delete-job-code {
  background: #fff !important;
  cursor: pointer;
  font-size: 16px !important;
  color: red !important;
}

.delete-job-code :hover {
  background: transparent !important;
}

// p-header {
//     background-color:green !important;
// }

::ng-deep #ui-accordiontab-0 {
  background-color: #9bf29b !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-6 {
  background-color: #9bf29b !important;
  color: black !important;
}
::ng-deep #ui-accordiontab-12 {
  background-color: #9bf29b !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-18 {
  background-color: #9bf29b !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-24 {
  background-color: #9bf29b !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-30 {
  background-color: #9bf29b !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-36 {
  background-color: #9bf29b !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-42 {
  background-color: #9bf29b !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-48 {
  background-color: #9bf29b !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-54 {
  background-color: #9bf29b !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-60 {
  background-color: #9bf29b !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-1 {
  background-color: #e5cdcd !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-7 {
  background-color: #e5cdcd !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-13 {
  background-color: #e5cdcd !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-19 {
  background-color: #e5cdcd !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-25 {
  background-color: #e5cdcd !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-31 {
  background-color: #e5cdcd !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-37 {
  background-color: #e5cdcd !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-43 {
  background-color: #e5cdcd !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-49 {
  background-color: #e5cdcd !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-55 {
  background-color: #e5cdcd !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-61 {
  background-color: #e5cdcd !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-2 {
  background-color: #bcdef8 !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-8 {
  background-color: #bcdef8 !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-14 {
  background-color: #bcdef8 !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-20 {
  background-color: #bcdef8 !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-26 {
  background-color: #bcdef8 !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-32 {
  background-color: #bcdef8 !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-38 {
  background-color: #bcdef8 !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-44 {
  background-color: #bcdef8 !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-50 {
  background-color: #bcdef8 !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-56 {
  background-color: #bcdef8 !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-62 {
  background-color: #bcdef8 !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-3 {
  background-color: #f4e4a8 !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-9 {
  background-color: #f4e4a8 !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-15 {
  background-color: #f4e4a8 !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-21 {
  background-color: #f4e4a8 !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-27 {
  background-color: #f4e4a8 !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-33 {
  background-color: #f4e4a8 !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-39 {
  background-color: #f4e4a8 !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-45 {
  background-color: #f4e4a8 !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-51 {
  background-color: #f4e4a8 !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-57 {
  background-color: #f4e4a8 !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-63 {
  background-color: #f4e4a8 !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-4 {
  background-color: #9bf29b !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-10 {
  background-color: #9bf29b !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-16 {
  background-color: #9bf29b !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-22 {
  background-color: #9bf29b !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-28 {
  background-color: #9bf29b !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-34 {
  background-color: #9bf29b !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-40 {
  background-color: #9bf29b !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-46 {
  background-color: #9bf29b !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-52 {
  background-color: #9bf29b !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-58 {
  background-color: #9bf29b !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-64 {
  background-color: #9bf29b !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-5 {
  background-color: #4da6ff !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-11 {
  background-color: #4da6ff !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-17 {
  background-color: #4da6ff !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-23 {
  background-color: #4da6ff !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-29 {
  background-color: #4da6ff !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-35 {
  background-color: #4da6ff !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-41 {
  background-color: #4da6ff !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-47 {
  background-color: #4da6ff !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-53 {
  background-color: #4da6ff !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-59 {
  background-color: #4da6ff !important;
  color: black !important;
}

::ng-deep #ui-accordiontab-65 {
  background-color: #4da6ff !important;
  color: black !important;
}
.margin-bottom-8 {
  margin-bottom: 8px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  /* margin: .25em 0; */
  margin: 0px !important;
}

.margin-top-10 {
  margin-top: 10px;
}

.color-red {
  color: red !important;
}

.color-green {
  color: green;
}

.color-grey {
  color: grey;
}

.edit-icon {
  margin-right: 0px !important;
}

.blue {
  color: rgb(36, 97, 177) !important;
}

.green {
  color: rgb(18, 161, 83) !important;
}

.gray {
  color: gray !important;
}

.status-icon {
  cursor: pointer;
  font-size: 21px;
  vertical-align: middle;
}

::ng-deep .ui-messages-close > .pi-times {
  vertical-align: middle;
}

::ng-deep .ui-messages {
  border: 1px solid;
  margin: 0 0 0 0 !important;
  padding: 1em 1em 1em 0.5em !important;
  position: relative;
}

.b-n {
  color: #2196f3 !important;
}
.g-n {
  color: #5d5d5d !important;
}
.r-n {
  color: red !important;
}

.custom-layout {
  // background : linear-gradient(248deg, rgb(58, 44, 137) 15%, rgba(33,109,181,1) 85%) !important;
  background: linear-gradient(248deg, #282775 15%, rgba(33, 109, 181, 1) 85%) !important;
  color: #fff !important;
  padding-bottom: 10px !important;
}
::ng-deep .customAccordians > .ui-accordion > p-accordiontab > .ui-accordion-header {
  margin-bottom: 9px !important;
  width: 100% !important;
}

.unAwardedClass {
  color: red !important;
  cursor: pointer !important;
}

.thead-color {
  background: #50636d !important;
  color: #fff !important;
}

// ::ng-deep .expenses-new-p>.ui-accordion-header>a{
// background-color: #b3d8f4 !important;
// }
// ::ng-deep .expenses-new-p>.ui-accordion-header>a{
//     color: black !important;
//     border: 0 !important;
// }
::ng-deep .expenses-new-p > .ui-accordion-content-wrapper > .ui-accordion-content {
  padding: 0px !important;
}
body .ui-accordion .ui-accordion-header a {
  padding: 0.571em 1em;
  border: 1px solid #c8c8c8;
  color: #333333;
  background-color: #bee4aa !important;
  color: #333333;
  font-weight: 400;
  transition: background-color 0.2s;
}
.custom-layout {
  // background : linear-gradient(248deg, rgb(58, 44, 137) 15%, rgba(33,109,181,1) 85%) !important;
  background: linear-gradient(248deg, #282775 15%, rgba(33, 109, 181, 1) 85%) !important;
  color: #fff !important;
  padding-bottom: 10px !important;
}
