

  <div class="row col-12 mt-5">

    <div class="col-6">
      <div class="chart-header">
        <p style="font-size: 17px;background-color: #286ba5">Payables in due days</p>
      </div>
      <div id="grid-table-container" class="table-responsive" style="margin-top:25px;width: 95%;margin-left:17px">
        <!-- <table matSort id="example2" class="table table-bordered table-hover">
          <thead class="tbl-head">
            <tr>
              <th>Period</th>
              <th class="text-center">Amount (AUD)</th>
              <th class="text-center">Invoices</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items">
              
              <td>{{item.period }}</td>
              <td class="text-center">{{item.amt }}</td>  
              <td class="text-center"><a style="color:blue" routerLink="/mrc/accounting/Payables/ageing-invoices" matTooltip="View Invoice">{{item.inv }}</a></td>

            </tr>

          </tbody>
        </table> -->
        <table class="table table-bordered">
          <thead>
            <tr >
              <th>Period</th>
              <th class="text-center">Amount (INR)</th>
              <th class="text-center">Invoices</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items">
              <td>{{item.period }}</td>
              <td class="text-center">{{item.amt }}</td>  
              <td class="text-center"><a style="color:blue" routerLink="/purchase/finance/receivables/ageing-invoices" matTooltip="View Invoice">{{item.inv }}</a></td>
            </tr>
          </tbody>
        </table>
        
      </div>

    </div>

    <div class="col-6">
        <div class="chart-header">
          <p style="font-size: 17px;background-color: #286ba5">Distribution of Payables</p>
        </div>
        <div class="flex-p">
          <mat-card>
            <div class="w-100 h-300p">
              <ngx-charts-pie-chart
                [scheme]="colorScheme"
                [results]="single"
                [legend]="showLegend"
                [explodeSlices]="explodeSlices"
                [labels]="showLabels"
                [doughnut]="doughnut"
                [gradient]="gradient"
              >
              </ngx-charts-pie-chart>
            </div>
          </mat-card>
        </div>
    </div>

    <div class="row-wrap">
      <div class="flex-p w-100">
        <div class="row">
  
          <div class="col-sm-12">
  
  
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-12">
      <mat-select class="form-control pull-right" placeholder="Select Year"
      style="width: 118px;">
      <mat-option [value]="0">2021</mat-option>
      <mat-option [value]="1">2020</mat-option>
      <mat-option [value]="2">2019</mat-option>
      <mat-option [value]="3">2018</mat-option>
      <mat-option [value]="4">2017</mat-option>
      <mat-option [value]="5">2016</mat-option>

    </mat-select>
      <div class="chart-header" style="margin-top: 52px;">
        <p style="font-size: 17px;background-color: #286ba5;">Monthly Trend of Payables and Collection (INR)</p>
      </div>
      <div style="display: block" style="margin-bottom: 25px;">
        <div style="height: 300px" [chart]="monthyPulseOfEmployees"></div>
      </div>
  
    </div>

  </div>

