<div class="NewHeader">
  <h1 mat-dialog-title> Store Name - Backhole Loader Store</h1>
</div>
<div mat-dialog-content>
  
  <form class="form-horizontal">
            
      <div class="form-group" style="margin-top: 25px;">
          <label class="control-label col-sm-3 add-member-label">Equipment Type: </label>
          <div class="col-sm-8">
            <mat-select class="form-control" placeholder="Select equipment type">
              <mat-option [value]="0">
                Backhole Loader
              </mat-option>
              <mat-option [value]="1">
                Bull Dozer
              </mat-option>
              <mat-option [value]="2">
                Dump truck
              </mat-option>
              <mat-option [value]="3">
                Car
              </mat-option>
              <mat-option [value]="4">
                Excavator
              </mat-option>
            </mat-select>
          </div>
          <div class="col-sm-1" style="margin-top: 5px;">
              <a (click)="copy('lookup')" style="cursor: pointer; color: green;"><mat-icon>add</mat-icon></a>
          </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3 add-member-label">Make: </label>
        <div class="col-sm-8 margin-bottom-15px">
            <input type="text" class="form-control" formControlName="JobCode" placeholder="Enter Make">
        </div>
      </div>
      <div>
          <div *ngFor="let item of itemstr, let x = index">
              <div id="repeat-{{x}}" class="row" style="margin-bottom: 12px;">
                  <!-- text input -->
                  <label class="control-label col-sm-3 add-member-label">Equipment Type: </label>
          <div class="col-sm-8">
            <mat-select class="form-control margin-bottom-15px" placeholder="Select equipment type">
              <mat-option [value]="0">
                Backhole Loader
              </mat-option>
              <mat-option [value]="1">
                Bull Dozer
              </mat-option>
              <mat-option [value]="2">
                Dump truck
              </mat-option>
              <mat-option [value]="3">
                Car
              </mat-option>
              <mat-option [value]="4">
                Excavator
              </mat-option>
            </mat-select>
          </div>
                  <div class="col-sm-1" style="margin-top: 5px;">
                      <a (click)="remove(x)" style="cursor: pointer; color: red;"><mat-icon>delete</mat-icon></a>
                  </div>
                  <label class="control-label col-sm-3 add-member-label margin-top-10">Make: </label>
                  <div class="col-sm-8 margin-top-10">
                      <input class="form-control name" id="items"
                      placeholder="Enter Make" type="text">
                  </div>
              </div>
          </div>
      </div>
  </form>
</div>

<mat-dialog-actions align="end">
  <button mat-raised-button style="background-color: #286ba5; color: white;" (click)="saveLookup()" [mat-dialog-close]="'test'"><mat-icon>send</mat-icon> Save</button>
      <button mat-raised-button class="CancelClass"  (click)="close()" style="color: rgb(7, 10, 7); background-color: #e0e0e0;"><mat-icon>cancel</mat-icon> Close</button>
</mat-dialog-actions> 