
<div class="NewHeader">
  <h1 mat-dialog-title>
    Revise/Resend Purchase Order
  </h1>
</div>
<div mat-dialog-content>

<form class="form-horizontal">
  
  <div class="col-sm-12">
   <label>Revise/Resend:</label>
   <span>&nbsp;
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
      <label class="form-check-label" for="inlineCheckbox1" style="font-weight: normal !important;">Revise</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
      <label class="form-check-label" for="inlineCheckbox1" style="font-weight: normal !important;">Resend</label>
    </div>
   
   </span>
  </div>
  
  
  
  
</form>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button class="text-center" style="background-color: #87D0CB;" routerLink="Active" routerLink="/purchase/PublishPurchaseorderRevise" (click)="close()"><span>Next</span></button>
  <button mat-raised-button class="text-center" (click)="close()">Cancel</button>
</mat-dialog-actions> 