<div id="divView"></div>
<div>
    <div class="col-sm-12">
        <p class="col-sm-12" style="padding-left: 0px;">
            <span style="font-size: 18px;font-weight: bold; margin-right: 8px">Preview Submission </span>
        </p>
        <table id="example2" class="margin-top-20 table table-bordered table-hover">
            <thead>
              <tr>
                <th colspan="6" style="font-weight: bold;font-size: 25px;text-align: center !important;">PURCHASE ORDER</th>  
             </tr>
             <tr>
              <th colspan="2" >To</th>  
              <th colspan="2" >From</th>  
              <th >OM PO No.:</th>  
              <td style="font-weight: bold;">OM/BHL/OCT/19-20/1077</td>
             </tr> 
             <tr>
              <th colspan="2" >M/S L&T Infra Ltd</th>  
              <th  colspan="2" >M/S OM Constructions</th>  
              <td >PO Generation Date:</td>
              <td >16-Oct-2019</td>
             </tr>
             <tr>
              <td colspan="2" >Uptown Cyberbad Building, Ayyapa Society, 100 feet Road</td>  
              <td colspan="2"  >Madhapur, Ayyappa Society</td>  
              <td >Vendor Quotation No.:</td>
              <td >OM/RFQ/Feb-19/R60000442</td>
             </tr>
             <tr>
              <td colspan="2" >Banglore, Telangana, India - 500788</td>  
              <td colspan="2" >Hyderabad, Telangana, India - 506002	</td>  
              <td >Quotation Date:	</td>
              <td >15-Oct-2019</td>
             </tr>
  
             <tr>
              <td colspan="2" >Phone: 9985788992</td>  
              <td colspan="2" >Phone:</td>  
              <td >Expected Delivery:</td>
              <td >11-Aug-2021</td>
             </tr>
             <tr>
              <td colspan="2" >E-Mail: radhakrishna269@gmail.com</td>  
              <td colspan="2" >E-Mail: contact@optionmatrix.com</td>  
              <td >FOC Reference:</td>
              <td >-</td>
             </tr>
             <tr>
              <td >Vendor GST No.:</td>  
              <td style="font-weight: bold;" >36AABCL2283L1ZB</td>  
              <td >OM GST No.:</td>
              <td  style="font-weight: bold;">36AAACO6937D1ZH</td>  
              <td  >MOU Reference:</td>  
              <td >MOU/Spare/10003</td>
             </tr>
             <tr>
              <td >Vendor PAN No.:</td>  
              <td style="font-weight: bold;" >AABCL2283L</td>  
              <td >	OM PAN No.:</td>
              <td  style="font-weight: bold;">AADCM3491M</td>  
              <td  >Rate Contract Reference:</td>  
              <td >RC/Spare/10003</td>
             </tr>
            </thead>
        </table>
    </div>
    <div  class="col-sm-12">
      <h4>Dear Sir, This OM/BHL/OCT/19-20/1077 is released for the below mentioned items and are to be delivered as per committed date 11-Aug-2021</h4>
    </div>

    <div class="col-sm-12">
     
      <table id="example2" class="margin-top-20 table table-bordered table-hover" style="overflow-x:scroll !important">
          <thead>
           <tr>
            <th rowspan="2" class="text-center" >Sl. No.</th>  
            <th rowspan="2" class="text-center"  >Part No.	</th>  
            <th rowspan="2" class="text-center" >Part Name</th>  
            <th rowspan="2" class="text-center" >Make</th>
            <th rowspan="2" class="text-center" >HSN</th>  
            <th rowspan="2" class="text-center" >Qty</th>  
            <th rowspan="2" class="text-center" >UOM</th>  
            <th rowspan="2" class="text-center" >Unit Price</th>
            <th rowspan="2" class="text-center" >Disc. (%)</th>  
            <th rowspan="2" class="text-center" >Disc. Unit Price</th>  
            <th rowspan="2" class="text-center" >Taxable Value</th>  
            <th colspan="2" class="text-center" >CGST</th>
            <th colspan="2" class="text-center" >SGST</th>  
            <th  rowspan="2" class="text-center" >Total</th>  
            <th  rowspan="2" class="text-center" >Action</th>
           </tr>
           <tr>
            <th class="text-center" >Rate (%)</th>  
            <th class="text-center">Amount</th>  
            <th class="text-center">Rate (%)</th>  
            <th class="text-center">Amount</th>
           </tr>
           <tr>
            <td class="text-center">1</td>  
            <td class="text-center">EAS10001A / EAS10001</td>  
            <td class="text-center">2ND LEAF - 257931</td>  
            <td class="text-center">Other Make</td>  
            <td class="text-center">10000</td>  
            <td class="text-center">70</td>  
            <td class="text-center">No.</td>  
            <td class="text-center">1000.00</td>  
            <td class="text-center">10</td>  
            <td class="text-center">900.00	</td> 
            <td class="text-center">63000.00</td>  
            <td class="text-center">9	</td>  
            <td class="text-center">5670.00</td>  
            <td class="text-center">9</td>  
            <td class="text-center">5670.00	</td>  
            <td class="text-center" style="font-weight: bold;" >74340.00</td>  
            <td class="text-center editDel">
              <a style="cursor: pointer;margin-right:10px; " matTooltip="Update Item">
                <i class="fa fa-edit" style="color: cornflowerblue"></i>
              </a>
              <a><i class="fa fa-trash red" matTooltip="Delete Item" style="cursor: pointer;"></i></a>
            </td>
           </tr>
           <tr>
            <td class="text-center">2</td>  
            <td class="text-center">EAS10002</td>  
            <td class="text-center">A/C FITER	</td>  
            <td class="text-center">Cat</td>  
            <td class="text-center">100032	</td>  
            <td class="text-center">50</td>  
            <td class="text-center">No.</td>  
            <td class="text-center">1100.00</td>  
            <td class="text-center">10</td>  
            <td class="text-center">990.00</td>  
            <td class="text-center">49500.00</td>  
            <td class="text-center">9</td>  
            <td class="text-center">4455.00</td>  
            <td class="text-center">9</td>  
            <td class="text-center">4455.00</td>  
            <td class="text-center"  style="font-weight: bold;" >58410.00</td>  
            <td class="text-center editDel">
              <a style="cursor: pointer;margin-right:10px; " matTooltip="Update Item">
                <i class="fa fa-edit" style="color: cornflowerblue"></i>
              </a>
              <a><i class="fa fa-trash red" matTooltip="Delete Item" style="cursor: pointer;"></i></a>
            </td>
           </tr>
           <tr>
            <td class="text-center">3</td>  
            <td class="text-center">EAS10002</td>  
            <td class="text-center">A/C FITER</td>  
            <td class="text-center">Other Make</td>  
            <td class="text-center">100032</td>  
            <td class="text-center">30</td>  
            <td class="text-center">No.</td>  
            <td class="text-center">1200.00</td>  
            <td class="text-center">10</td>  
            <td class="text-center">1080.00</td>  
            <td class="text-center">32400.00</td>  
            <td class="text-center">9</td>  
            <td class="text-center">2916.00</td>  
            <td class="text-center">9</td>  
            <td class="text-center">2916.00</td>  
            <td class="text-center"  style="font-weight: bold;" >38232.00</td>  
            <td class="text-center editDel">
              <a style="cursor: pointer;margin-right:10px; " matTooltip="Update Item">
                <i class="fa fa-edit" style="color: cornflowerblue"></i>
              </a>
              <a><i class="fa fa-trash red" matTooltip="Delete Item" style="cursor: pointer;"></i></a>
            </td>
           </tr>
           <tr>
            <td class="text-center">4</td>  
            <td class="text-center">EAS10003</td>  
            <td class="text-center">AIR FILTER ASSY</td>  
            <td class="text-center">Tata Hitachi</td>  
            <td class="text-center">10001</td>  
            <td class="text-center">30</td>  
            <td class="text-center">No.</td>  
            <td class="text-center">3000.00</td>  
            <td class="text-center">0</td>  
            <td class="text-center">3000.00	</td>  
            <td class="text-center">90000.00</td>  
            <td class="text-center">9</td>  
            <td class="text-center">8100.00</td>  
            <td class="text-center">9</td>  
            <td class="text-center">8100.00</td>  
            <td class="text-center"  style="font-weight: bold;" >106200.00</td>  
            <td class="text-center editDel">
              <a style="cursor: pointer;margin-right:10px; " matTooltip="Update Item">
                <i class="fa fa-edit" style="color: cornflowerblue"></i>
              </a>
              <a><i class="fa fa-trash red" matTooltip="Delete Item" style="cursor: pointer;"></i></a>
            </td>
           </tr>
           <tr>
            <td class="text-center">5</td>  
            <td class="text-center">EAS10004:</td>  
            <td class="text-center">AIR FILTER PRIMARY ELEMENT</td>  
            <td class="text-center">Komatsu</td>  
            <td class="text-center">10002</td>  
            <td class="text-center">60</td>  
            <td class="text-center">No.</td>  
            <td class="text-center">3100.00</td>  
            <td class="text-center">0</td>  
            <td class="text-center">3100.00</td>  
            <td class="text-center">186000.00</td>  
            <td class="text-center">9</td>  
            <td class="text-center">16740.00</td>  
            <td class="text-center">9</td>  
            <td class="text-center">16740.00</td>  
            <td class="text-center"  style="font-weight: bold;" >219480.00</td>  
            <td class="text-center editDel">
              <a style="cursor: pointer;margin-right:10px; " matTooltip="Update Item">
                <i class="fa fa-edit" style="color: cornflowerblue"></i>
              </a>
              <a><i class="fa fa-trash red" matTooltip="Delete Item" style="cursor: pointer;"></i></a>
            </td>
           </tr>
           <tr>
             
            <td  style="font-weight: bold; text-align: right !important;" colspan="5" >Total:</td>  
            <td class="text-center" style="font-weight: bold;" >240</td>  
            <td class="text-center"></td>  
            <td class="text-center"></td>  
            <td class="text-center"></td>  
            <td class="text-center"></td>  
            <td class="text-center" style="font-weight: bold;">420900.00	</td>  
            <td class="text-center"></td>  
            <td class="text-center" style="font-weight: bold;">37881.00</td>  
            <td class="text-center"></td>  
            <td class="text-center" style="font-weight: bold;">37881.00	</td>  
             
            <td class="text-center"  style="font-weight: bold;" >496662.00</td>  
            <td class="text-center"></td>  
           </tr>
           <tr>
            <td class="text-center" colspan="10"></td> 
            <td class="text-center" colspan="5" style="font-weight: bold; text-align: right !important;" >Total Amount (Excluding GST)</td>  
            <td class="text-center">420900.00	</td>  
            <td class="text-center"></td>   
           </tr>
           <tr>
            <td class="text-center" colspan="10"></td> 
            <td class="text-center" colspan="5" style="font-weight: bold; text-align: right !important;" >Add: CGST</td>  
            <td class="text-center">37881.00	</td>  
            <td class="text-center"></td>   
           </tr>
           <tr>
            <td class="text-center" colspan="10"></td> 
            <td class="text-center" colspan="5" style="font-weight: bold; text-align: right !important;" >Add: SGST</td>  
            <td class="text-center">37881.00</td>  
            <td class="text-center"></td>   
           </tr>
           <tr>
            <td class="text-center" colspan="10"></td> 
            <td class="text-center" colspan="5" style="font-weight: bold; text-align: right !important;" >Total GST Amount Payable</td>  
            <td class="text-center">75762.00</td>  
            <td class="text-center"></td>   
           </tr>
           <tr>
            <td class="text-center" colspan="10">Total Amount in Words: Four Lakh Ninety Six Thousand Six Hundred and Sixty Two Rupees Only</td> 
            <td class="text-center" colspan="5" style="font-weight: bold; text-align: right !important;" >Grand Total (Including GST)</td>  
            <td class="text-center">496662</td>  
            <td class="text-center"></td>   
           </tr>
          </thead>
      </table>
  </div>
  <div class="col-sm-12"> 
     <h4>Terms and Conditions:</h4>
     <div>
      <label>1.</label>
      <span>&nbsp;
       Trial Period will be for 10 Month(s) or 25 Kms or 24 Hrs of operation
      </span>
     </div>
     <div>
      <label>2.</label>
      <span>&nbsp;
        Cost per Hour/per Km mentioned above are based on landed cost at our campsite at ₹ 2,000
      </span>
     </div>
     <div>
      <label>3.</label>
      <span>&nbsp;
        Cost per Hour/per Km for the brand of this parts we currently use is ₹ 1,000
      </span>
     </div>
     <div>
      <label>4.</label>
      <span>&nbsp;
        Special Terms: Turnover Discount” type and user continues to stay on same screen/page. However the record would get logged in the main grid. >>Pending >> Getting below toaster although valid information is selected
      </span>
     </div>
     <div>
      <label>5.</label>
      <span>&nbsp;
        Delivery Address: Option Matrix Infotech, Khadia Project, C/o NCL Khadia OCP, Shakti Nagar, Dist. Sonebhadra, Uttar Pradesh - 231222
      </span>
     </div>
     <div>
      <label>6.</label>
      <span>&nbsp;
        Delivery Address: Option Matrix Infotech, Krishnalshila Project, C/o NCL Krishnashila OCP, Dist. Sonebhadra, Uttar Pradesh - 231222
      </span>
     </div>
     <div>
      <label>7.</label>
      <span>&nbsp;
        Delivery Address: Option Matrix Infotech, Block - B Gorbi Project, C/o NCL Gorbi OCP, Dist. Singrauli, Madhaya Pradesh - 486889
      </span>
     </div>
     <div>
      <label>8.</label>
      <span>&nbsp;
        Delivery Address (Additional Terms): Turnover Discount” type and user continues to stay on same screen/page. However the record would get logged in the main grid. >>Pending >> Getting below toaster although valid information is selected
      </span>
     </div>
     <br>
     <br>  
     <br> 
     <p>For M/S OM Mining,</p>
     <label style="font-size: 20px;">Authorized Signatory</label>
     <br>
     <br>  
     <br> 
     <label style="font-size: 20px;">Project Manager</label><br>
     <label style="font-size: 20px;">Option Matrix</label>
     <div>
      <button type="button" class="btn btn-success" >Print</button>
     </div>
     <br>
     <br>  
     <br>  
  </div>
    
    




















<!-- <div>
  <button type="button" class="btn btn-success" routerLink="Active"  routerLink="/purchase/PublishPurchaseorderRevise/TermsConditionsRevise">Previous</button>
</div> -->
