<div class="NewHeader">
  <h1 mat-dialog-title>
    {{data ? 'Update' : 'Add'}} Client
  </h1>
</div>
<!-- Add client button -->
<div mat-dialog-content>
    <form class="form-horizontal">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Client Name: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="email" class="form-control" id="email" placeholder="Enter Client Name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Contact Name: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="email" class="form-control" id="email" placeholder="Enter Contact Name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label">Client Type: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <mat-radio-group aria-label="Select a client">
                    <mat-radio-button value="1" style="margin-right: 10px;">Referral</mat-radio-button>
                    <mat-radio-button value="2">New</mat-radio-button>
                  </mat-radio-group>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Industry: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">              
                   
                    <mat-select class="form-control" placeholder="Select Industry">
                      <mat-option [value]="0">
                        E-Com
                      </mat-option>
                      <mat-option [value]="1">
                        Architect
                      </mat-option>
                      <mat-option [value]="2">
                        Hospitality
                      </mat-option>
                    </mat-select>
                
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Email: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" placeholder="Enter Email">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Phone Number: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" placeholder="Enter Phone Number">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Street Address: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="text-area" class="form-control" placeholder="Enter Address">
            </div>
        </div>
  
        </div>
        <div class="col-6">
          <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">City: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <mat-select class="form-control" placeholder="Select City">
                    <mat-option [value]="0">
                      Hyderabad
                    </mat-option>
                    <mat-option [value]="1">
                      Bangalore
                    </mat-option>
                    <mat-option [value]="2">
                      Chennai
                    </mat-option>
                  </mat-select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">State: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <mat-select class="form-control" placeholder="Select State">
                    <mat-option [value]="0">
                      Telengana
                    </mat-option>
                    <mat-option [value]="1">
                      Karnataka
                    </mat-option>
                    <mat-option [value]="2">
                      Tamil Nadu
                    </mat-option>
                  </mat-select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Country: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <mat-select class="form-control" placeholder="Select Country">
                    <mat-option [value]="0">
                      India
                    </mat-option>                   
                  </mat-select>
            </div>
        </div>
          <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Postal Code: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" placeholder="Enter Post Code">
            </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">GST: </label>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" placeholder="Enter GSTN">
          </div>
      </div>
      <div class="form-group">
        <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">PAN: </label>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <input type="text" class="form-control" placeholder="Enter PAN">
        </div>
    </div>
        </div>
      </div>
        
        
        <!-- <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Date Created: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <input class="form-control" formControlName="contactNumber"  placeholder="MM/DD/YYYY"
              class="form-control" id="db" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" name="dt1">
            <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
            </div>
        </div> -->
        <!-- <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Category: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <mat-select name="" id="" placeholder="-- Select   --" class="form-control">
                    <mat-option [value]=1>Quality Systems</mat-option>
                    <mat-option [value]=2>Production Systems</mat-option>
                    <mat-option [value]=3>Laboratory Systems</mat-option>
                    <mat-option [value]=3>Facility & Equipment Systems</mat-option>
                    <mat-option [value]=3>Material Management Systems</mat-option>
                    <mat-option [value]=3>Packaging & Labelling Systems</mat-option>
                </mat-select>
            </div>
        </div> -->
        <!-- <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Sub Category: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <mat-select   placeholder="-- Select Subcategory --" class="form-control">
                    <mat-option [value]=1>Quality Oversight</mat-option>
                    <mat-option [value]=2>Laboratory Testing & Data Management</mat-option>
                    <mat-option [value]=2>Laboratory Testing & Data Management</mat-option>
                    <mat-option [value]=3>Documentation Controls</mat-option>
                    <mat-option [value]=3>Controls Over Computerised Systems</mat-option>
                    <mat-option [value]=3>Investigation</mat-option>
                    <mat-option [value]=3>Validation (Process/ Cleaning/ Methods)</mat-option>
                    <mat-option [value]=3>Material Management & Label Controls</mat-option>
                    <mat-option [value]=3>Environmental Monitoring & Microbial Testing</mat-option>
                </mat-select>
            </div>
        </div> -->
        <!-- <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Visibility: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button class="mr-5" value="1">Private</mat-radio-button>
                    <mat-radio-button value="2">Public</mat-radio-button>
                  </mat-radio-group>
            </div>
        </div> -->
    </form>
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button class="btn-primary"  [mat-dialog-close]="'test'"><mat-icon>send</mat-icon><span>Save</span></button>
    <button mat-raised-button class="add-dark-hover btn-default" (click)="close()"><mat-icon>cancel</mat-icon>Close</button>
</mat-dialog-actions> 