<div class="container-fluid">
  <div fxLayout="row wrap" #resizedDiv>
    <div class="flex-p w-100 sizeAlign">
      <div class="row wrap">
        <div class="col-xs-12" style="margin-top: 15px;margin-bottom:10px;">
          <button mat-raised-button (click) = "filterToggle=!filterToggle"
            class="btn-secondary pull-right"><mat-icon>filter_list</mat-icon>filter
          </button>

          <button mat-raised-button class="btn-primary pull-right mr-3" (click)="UploadStock(null)">
            Upload Physical Stock
          </button>

        </div>
      </div>
      <div fxLayout="row wrap" *ngIf="filterToggle">
        <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100 margins">
          <mat-card class="filter">
            <mat-card-content>
              <div class="row">
                <div class="col-sm-4">
                  <div class="col-sm-4 newMarginClass">
                    From Date:
                  </div>
                  <div class="col-sm-8">
                    <input type="date" class="form-control" placeholder="Enter Date">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="col-sm-4 newMarginClass">
                    To Date: 
                  </div>
                  <div class="col-sm-8">
                      <input type="date" class="form-control" placeholder="Enter Date">
                  </div>
                </div>
                <div class="col-sm-4">
                <div class="col-lg-1" style="margin-left:70%!important;">
                  <button mat-raised-button class="pull-right btn-primary">
                    <mat-icon>youtube_searched_for</mat-icon> Search
                  </button>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="margin-left: -18px;">
                  <button mat-raised-button style="background-color:#37474f; color:#fff !important">
                    <mat-icon>settings_backup_restore</mat-icon> Clear
                  </button>
                </div>
                <a (click)="filterToggle = !filterToggle" class="pull-right"
                  style="font-size: 25px; cursor: pointer; margin-left: 5px;">
                  <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                </a>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    <div class="row" >
      <div class="col-xs-12" style="overflow-x: auto">
        <div id="grid-table-container" class="table-responsive" >
          <table matSort id="example2" class="table table-bordered table-hover" style="margin-left: 0px!important;">
            <thead class="tbl-head">
              <tr>
                <th class="text-center">Action</th>
                <th class="text-center">From Date</th>
                <th class="text-center">To Date</th>
                <th class="text-center">Download Physical Stock</th>
                <th class="text-center">Items</th>
                <th class="text-center">Variance</th>
                <th class="text-center">Store Location</th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items">
                <td class="text-center editDel">
                  <a style="cursor: pointer;margin-right:10px; " matTooltip="Update Stock Details"
                  (click)="UploadStock(item)">
                    <i class="fa fa-edit" style="color: cornflowerblue"></i>
                  </a>
                  <a><i class="fa fa-trash red" matTooltip="Delete Stock Details" style="cursor: pointer;"></i></a>
                </td>
                <td class="text-center">{{item.fromDate}}</td>
                <td class="text-center">{{item.toDate}}</td>
                <td class="text-center"><mat-icon matTooltip="Download Stock">download</mat-icon></td>
                <td class="text-center" routerLink="/purchase/material-requirement/stock-reconcilliation/stock-reconcilliationTable" style="color: blue; cursor: pointer;">{{item.items}}</td>
                <td class="text-center"  routerLink="/purchase/material-requirement/stock-reconcilliation/stock-reconcilliationTable" style="color: blue; cursor: pointer;">{{item.varience}}</td>
                <td class="text-center">{{item.storelocation}}</td>
               
              </tr>
            </tbody>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>