<div class="NewHeader" style="background-color:#286ba5 !important; height: 50px;">
  <h1 mat-dialog-title>{{issueData ? 'Update' : 'Add'}} Issue Request
  </h1>
</div>
<div mat-dialog-content>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Issue Request Ref: </label>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
         <input type="text" class="form-control" value="OM/MI/OCT-19/10005">
      </div>
    </div>

  <div class="form-group">
    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Issue Date: </label>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
       <input type="date" class="form-control" placeholder="Enter Issue Date">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Issued To: </label>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
       <input type="text" class="form-control" placeholder="Enter Issued To" >
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Notes: </label>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
       <input style="height: 40px;" type="text" class="form-control" placeholder="Enter Notes" >
    </div>
  </div>

</form>


</div>
<mat-dialog-actions align="end">
  <button mat-raised-button class="btn-primary" (click)="close()"><mat-icon>send</mat-icon><span >Save</span></button>
  <button mat-raised-button class="add-dark-hover btn-default" (click)="close()"><mat-icon>cancel</mat-icon> Close</button>
</mat-dialog-actions>


