<div fxLayout="row wrap" class="breadcrumb" *ngIf="router.url != '/'">
    <div fxFlex="100" class="flex-p">
        <h2 *ngIf="!description[moduleTitle][subTitle]" style="margin-top:0px;margin-bottom: 10px;font-weight:700; font-size: 25px !important">{{moduleTitle||'Dashboard'}}</h2>
        <h2 *ngIf="description[moduleTitle][subTitle]" style="margin-top:0px;margin-bottom:15px;font-weight:400;">{{subTitle||'Dashboard'}}</h2>
        <mat-card fxLayout="row" class="breadcrumb helptext bc">
            <div fxFlex="100" class="flex-p" style="margin-bottom: 8px;">
                <span *ngIf="!description[moduleTitle][subTitle]" class="page-title nomargin"> {{description[moduleTitle] || description['Dashboard']}} </span>
                <span *ngIf="description[moduleTitle][subTitle]" class="page-title nomargin">{{description[moduleTitle][subTitle]}}</span>
            </div>
        </mat-card>

    </div>
</div>
<!-- <div fxLayout="row wrap" class="breadcrumb" *ngIf="router.url != '/'">
    <div fxFlex="100" class="flex-p">
        <h2 *ngIf="!description[moduleTitle][subTitle]" style="margin-top:0px;margin-bottom: 10px;font-weight:700; font-size: 25px !important">{{moduleTitle||'Dashboard'}}</h2>
        <h2 *ngIf="description[moduleTitle][subTitle]" style="margin-top:0px;margin-bottom:15px;font-weight:400;">{{subTitle||'Dashboard'}}</h2>
        <mat-card fxLayout="row" class="breadcrumb helptext bc">
            <div fxFlex="100" class="flex-p" style="margin-bottom: 8px;">
                <span *ngIf="!description[moduleTitle][subTitle]" class="page-title nomargin"> {{description[moduleTitle] || description['Dashboard']}} </span>
                <span *ngIf="description[moduleTitle][subTitle]" class="page-title nomargin">{{description[moduleTitle][subTitle]}}</span>
                <div fxLayout="row" style="float: right !important;" class="pull-right">
                    <a *ngIf="router.url != '/'" routerLink="/mrc/radar" class="breadcrumb-item" fxLayout="row" fxLayoutAlign="start center" (click)="closeSubMenus()">
                        <span class="breadtitle breadcrumb-title">Home</span>
                    </a>
                   <div *ngFor="let breadcrumb of breadcrumbs; let i = index;" class="breadcrumb-item" fxLayout="row"
                        fxLayoutAlign="start center">
                        <a [hidden]="i == (breadcrumbs.length - 1)" [routerLink]="[breadcrumb.url]">{{breadcrumb.name}}</a>
                        <span [hidden]="i != (breadcrumbs.length - 1)" class="breadcrumb-title active margin-right">{{breadcrumb.name | titlecase}}</span>
                    </div>
                </div>
            </div>
        </mat-card>

    </div>
</div> -->