<h1 mat-dialog-title>
    Line Items Selected (6)
</h1>
<div mat-dialog-content>
  <form>
    <label>Invoice</label>
    <mat-select class="form-control" placeholder="Select Invoice">
      <mat-option value="1">#435164034012</mat-option>
      <mat-option value="2">#638765478234</mat-option>
      <mat-option value="3">#435164039421</mat-option>
      <mat-option value="4">#638765478341</mat-option>
      <mat-option value="5">#335164034011</mat-option>
      <mat-option value="6">#992164034012</mat-option>
    </mat-select>
  </form>
</div>
<mat-dialog-actions align="center">
  <button mat-raised-button class="btn-primary" (click)="close()">
    <mat-icon>send</mat-icon><span>Confirm</span>
  </button>
  <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">
    <mat-icon>cancel</mat-icon> Cancel
  </button>
</mat-dialog-actions>