<div id="divView"></div>
<div>
    <div class="col-sm-12">
        <p class="col-sm-12" style="padding-left: 0px;">
            <span style="font-size: 18px;font-weight: bold; margin-right: 8px">GENERAL </span>
        </p>
        <table id="example2" class="margin-top-20 table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Quote Number:</th>
                    <td>A-025011</td>


                    <th>Project Type: </th>
                    <td>Engineering</td>

                </tr>
                <tr>
                    <th>Client Name: </th>
                    <td>Hindustan Equipment</td>

                    <th>Contact Details:</th>
                    <td>Same as Client</td>

                </tr>
                <tr>
                    <th>Account Manager: </th>
                    <td>Mark Buma</td>
                    <th>Email: </th>
                    <td>
                        <a style="cursor: pointer;" href="https://mail.google.com/mail/?view=cm&fs=1&to=fine@contact.com" target="_blank">
                          hindustan@contact.com
                        </a>
                        
                    </td>

                </tr>
                <tr>


                    <th>Project Manager: </th>
                    <td>Andrew Jones</td>

                    <th>Phone: </th>
                    <td>072- 346-2354 &nbsp;</td>
                </tr>
                <tr>
                    <th>Country:</th>
                    <td>India</td>
                    <th>Province: </th>
                    <td>Tamil Nadu</td>

                </tr>
                <tr>
                    <th>City: </th>
                    <td>Chennai</td>
                    <th>Street Address: </th>
                    <td>Plot No. A-1, Sipcot Industrial Park</td>
                </tr>

                <tr>

                    <th>Received Date:</th>
                    <td>09-01-2021</td>
                    <th>Project Due Date:</th>
                    <td>20-06-2021</td>
                </tr>
                <tr>


                    <th>Project Status: </th>
                    <td>	End-Pay</td>
                    <th>Activity Date</th>
                        <td>
                            09-01-2021 &nbsp;
                        </td>
                </tr>
                <tr>


                    <th>Quoted Date: </th>
                    <td> 09-04-2021 &nbsp;</td>
                    
                </tr>
            </thead>
        </table>
    </div>
   
    <div class="col-sm-12">
        <p class="col-sm-12" style="margin-top: 20px;padding-left: 0px;">
            <span style="font-size: 18px;font-weight: bold; margin-right: 8px">PROJECT ADDRESS </span>
        </p>
        <table class="margin-top-20 table table-bordered table-hover">
            <thead>

                <tr>
                    <th>Street Address:</th>
                    <td>
                        <a href="https://www.google.com/maps/search/10/1 Complex Avenue" target="_blank">
                          Plot No. A-1, Sipcot Industrial Park
                        </a>
                    </td>
                    <th>City: </th>
                    <td>Chennai</td>

                </tr>
                <tr>
                    <th>Country:</th>
                    <td>India</td>
                    <th>Province: </th>
                    <td>Tamil Nadu</td>
                </tr>

                <tr>
                    <th class="text-center-vertical">Legal Description:</th>
                    <td colspan="3">
                        <div></div>
                    </td>
                   
                </tr>
                <tr>
                    <th class="text-center-vertical">Legal Property Owner: </th>
                    <td colspan="3">-</td>
                    
                </tr>
                <tr>
                    <th class="text-center-vertical">GOTO Link:</th>
                    <td colspan="3">
                        <ng-container>
                        <a href="http://www.google.com/search?q=cpm.optionmatrix.org/mrc/projects/quotes-dashboard" target="_blank">
                          </a>

                    </ng-container>
                    </td>
                </tr>
                <tr>
                    <th class="text-center-vertical">Research File Folder Link:</th>
                    <td colspan="3">
                        <ng-container>
                            <span></span>
                        
                    </ng-container>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-sm-12">

        <p class="col-sm-12" style="margin-top: 20px;padding-left: 0px;">
            <span style="font-size: 18px;font-weight: bold; margin-right: 8px">PURPOSE </span>
        </p>
        <div class="col-sm-6 no-padding">
            <div class="col-sm-12 no-padding">
                <p><b>Purpose of Survey: </b><span></span></p>
                <p> Buying / Selling Property</p>
               
            </div>
        </div>
        <div class="col-sm-6 no-padding">
            <div class="col-sm-12 no-padding">
                <p><b>Where did you hear about us? : </b><span>Linkedin</span></p>
            </div>
        </div>
        <div class="col-sm-12 no-padding">
            <div class="col-sm-12 no-padding"></div>

        </div>
        <div class="col-sm-12 no-padding" style="margin-top: 15px">
          <p><b>Details: </b></p>
          <p>NA</p>
        </div>

    </div>
    <div class="col-sm-12">
        <button mat-raised-button color="primary" class="btn btn-primary pull-right">
            Click to Edit Details
        </button>
    </div>
</div>