<!-- <div fxLayout="row wrap"  style="margin-left: 8px;">


      <div class="col-xs-12">
        <div class="pills">
          <ul class="nav nav-pills" style="margin-top: 15px; margin-left: -5px;">
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" [routerLink]="['/mrc/accounting/receivables/aging-analysis']">
                <mat-icon>analytics</mat-icon> Ageing Analysis
              </a>
            </li>
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" [routerLink]="['/mrc/accounting/receivables/grid-view']">
                <mat-icon>grid_on</mat-icon> Grid View
              </a>
            </li>
            
          </ul>
        </div>
      </div>

  </div>

<router-outlet></router-outlet> -->

<div class="row-wrap">
  <div class="w-100">
    <div fxLayout="row">
      <div class="col-xs-6">
        <div class="pills">
          <ul class="nav nav-pills" style="margin-top: 10px;margin-left:2px">

            <!-- <li routerLinkActive="active" style="margin-left: 10px;">
              <a mat-raised-button class="navtabWidth" [routerLink]="['/accounting/receivables/aging-analysis']">
                <mat-icon>analytics</mat-icon> Ageing Analysis
              </a>
            </li>
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" [routerLink]="['/accounting/receivables/grid-view']">
                <mat-icon>grid_on</mat-icon> Grid View
              </a>
            </li> -->


          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>