<div fxLayout="row wrap" #resizedDiv>
    <div class="flex-p w-100 sizeAlign">
        <div class="row" style="margin-bottom:7px;">
            <div class="col-xs-6 ">
            </div>
            <div class="col-xs-6 ">
                <div class="flex-p">
                    <button mat-raised-button class="pull-right  btn-primary" (click)="opencontactDialog()">
                        <mat-icon>add</mat-icon> Add Requisition
                    </button>

                    <button mat-raised-button color="primary" class="pull-right filters-hover margin-right-10"
                        (click)="filterToggle = !filterToggle">
                        <mat-icon>filter_list</mat-icon> Filter
                    </button>

                </div>

            </div>
        </div>

        <!-- Filter -->
        <div fxLayout="row wrap" *ngIf="filterToggle">
            <div fxFlex="100" class="flex-p w-100">
                <mat-card class="filter">
                    <mat-card-content>
                        <div class="row">

                            <div class="col-sm-3">
                                <div class="col-sm-4 newMarginClass">
                                    Keyword:
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" placeholder="Search by Keyword" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-sm-4 newMarginClass">
                                    Status:
                                </div>
                                <div class="col-sm-8">
                                    <mat-select class="form-control" placeholder="Search By Status">
                                        <mat-option [value]="0">Approved</mat-option>
                                        <mat-option [value]="1">Pending</mat-option>
                                        <mat-option [value]="2">Declined</mat-option>

                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-sm-4 newMarginClass">
                                    Logged By:
                                </div>
                                <div class="col-sm-8">
                                    <mat-select class="form-control" placeholder="Search by Logged Name">
                                        <mat-option [value]="0">Robert</mat-option>
                                        <mat-option [value]="1">Jasveer</mat-option>
                                        <mat-option [value]="2">Parmeet</mat-option>
                                        <mat-option [value]="3">Harbajan</mat-option>

                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-sm-3">



                                <div class="col-lg-1" style="margin-left: 130px;">
                                    <button mat-raised-button class="pull-right btn-primary">
                                        <mat-icon>youtube_searched_for</mat-icon> Search
                                    </button>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                    <button mat-raised-button style="background-color:#37474f; color:#fff !important">
                                        <mat-icon>settings_backup_restore</mat-icon> Clear
                                    </button>
                                </div>
                                <a (click)="filterToggle = !filterToggle" class="pull-right"
                                    style="font-size: 25px; cursor: pointer; margin-left: 5px;">
                                    <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                                </a>


                            </div>
                        </div>


                    </mat-card-content>
                </mat-card>
            </div>
        </div>


        <!-- Table -->
        <div class="row">
            <div class="col-xs-12">
                <div id="grid-table-container" class="table-responsive">
                    <table matSort id="example2" class="table table-bordered table-hover">
                        <thead class="tbl-head">
                            <tr>
                                <th>Subject</th>
                                <th class="text-center">Requested Date</th>
                                <th class="text-center">Items</th>
                                <th>Requested By</th>
                                <th class="text-center">Approved</th>
                                <th class="text-center">Declined</th>
                                <th>Status</th>
                                <th>Approved By</th>
                                <th>Approval Date</th>
                                <th class="text-center" style="width: 112px!important;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of items">
                                <td>
                                    {{item.reqTitle}}
                                </td>
                                <td style="min-width: 70px !important; text-align: center!important;">
                                    {{item.requestdate}}

                                </td>
                                <!-- <td style="text-align: center!important;">{{item.projectNumber}}</td> -->

                                <td style="text-align: center!important;"><a style="color: blue;cursor: pointer;"
                                        (click)="openitemDialog()">{{item.items }}</a> </td>
                                <td>{{item.loggedby }}</td>
                                <td class="text-center">
                                    <mat-checkbox [checked]="item.approved">
                                    </mat-checkbox>
                                </td>
                                <td class="text-center">
                                    <mat-checkbox>
                                    </mat-checkbox>
                                </td>
                                <td>{{item.status }}</td>
                                <td>{{item.approvedby}}</td>
                                <td>
                                    30-05-2021
                                </td>



                                <td class="text-center editDel">
                                    <a style="cursor: pointer;margin-right:10px; " matTooltip="Update Item"
                                        (click)="openProjectDialog(item)">
                                        <i class="fa fa-edit" style="color: cornflowerblue"></i>
                                    </a>
                                    <a><i class="fa fa-trash red" matTooltip="Delete Item"
                                            style="cursor: pointer;"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
                    <!-- <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="handlePage($event)"
  showFirstLastButtons></mat-paginator> -->
                </div>
            </div>
        </div>

    </div>
</div>