<!-- <div class="w-100" fxLayout="row">
    <div style="width: 20%;display: flex;align-items: center;justify-content: center;">
        <div class="pills">
            <ul class="nav nav-pills" style="margin-top: 15px;">
              <li routerLinkActive="active">
                <a mat-raised-button class="navtabWidth" [routerLink]="['/mrc/contracts/project-dashboard/project-site/dlr/boq']">
                   BOQ Line Item Status
                </a>
              </li>
              <li routerLinkActive="active">
                <a mat-raised-button class="navtabWidth" [routerLink]="['/mrc/contracts/project-dashboard/project-site/dlr/underground']">
                   Underground
                </a>
              </li>
              <li routerLinkActive="active">
                <a mat-raised-button class="navtabWidth" [routerLink]="['/mrc/contracts/project-dashboard/project-site/dlr/surface']">
                  Surface
                </a>
              </li>
              <li routerLinkActive="active">
                <a mat-raised-button class="navtabWidth" [routerLink]="['/mrc/contracts/project-dashboard/project-site/dlr/civilsite']">
                  Civil Site
                </a>
              </li>
            </ul>
          </div>
    </div>
    <div style="width: 80%;">
        <router-outlet></router-outlet>
    </div>
</div> -->
<router-outlet></router-outlet>
       
       
       
  