.sizeAlign{
    margin-left: 8px;
    margin-right: 8px;
}

::ng-deep  .ui-tree {
    /* border: 1px #c8c8c8; */
    border-style: dashed !important;
    background-color: #ffffff !important;
    color: #333333 !important;
    /* padding: 0.571em 1em; */
}