<div fxLayout="row wrap"  *ngIf="filterToggle"  style="margin-bottom: 10px; padding-top: 10px;"  >
  <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100 margins">
    <mat-card class="filter">
      <mat-card-content>
        <div class="row">
          <div class="col-sm-4">
            <div class="col-sm-4 newMarginClass">
              Asset Type:
            </div>
            <div class="col-sm-8">
              <mat-select class="form-control" placeholder="Select Vendor">
                <mat-option [value]="0">Heavy Equipment</mat-option>
                <mat-option [value]="1">Hand and Power Tools</mat-option>
                <mat-option [value]="2">Consumable and Building Materials</mat-option>
               
              </mat-select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="col-sm-4 newMarginClass">
              Asset Name:
            </div>
            <div class="col-sm-8">
              <input type="text" placeholder="Asset Name" class="form-control">
              <!-- <mat-select class="form-control" placeholder="Enter  Asset Name "> -->
                <!-- <mat-option [value]="0">ForkLifts</mat-option>
                <mat-option [value]="1">Tippers</mat-option>
                <mat-option [value]="2">Trenchers</mat-option>
                <mat-option [value]="3">Crimpers</mat-option>
                <mat-option [value]="4">Mixers</mat-option>
                <mat-option [value]="5">Drill Bits</mat-option> -->
              <!-- </mat-select> -->
            </div>
          </div>
          
          <div class="col-sm-4">
            <div class="col-sm-4 newMarginClass">
              Project Name:
            </div>
            <div class="col-sm-8">
              <input type="text" placeholder="Enter Project Name " class="form-control">
              <!-- <mat-select class="form-control" placeholder="Select Status">
                <mat-option [value]="0">Consignment In-Transit</mat-option>
                <mat-option [value]="1">Grn Delayed </mat-option>
                <mat-option [value]="2">Grn Pending</mat-option>
                <mat-option [value]="3">Consignment Revision</mat-option>
                <mat-option [value]="3">Consignment Submitted</mat-option>
                <mat-option [value]="3">Consignment Revised</mat-option>
              </mat-select> -->
            </div>
          </div>

          <br>
          <br>
          <div class="col-sm-4">
            <div class="col-sm-4 newMarginClass">
              KeyWord:
            </div>
            <div class="col-sm-8">
              <input type="text" placeholder="Enter KeyWord" class="form-control">
              <!-- <mat-select class="form-control" placeholder="Select Status">
                <mat-option [value]="0">Consignment In-Transit</mat-option>
                <mat-option [value]="1">Grn Delayed </mat-option>
                <mat-option [value]="2">Grn Pending</mat-option>
                <mat-option [value]="3">Consignment Revision</mat-option>
                <mat-option [value]="3">Consignment Submitted</mat-option>
                <mat-option [value]="3">Consignment Revised</mat-option>
              </mat-select> -->
            </div>
          </div>
        
        </div>

        <div class="row" style="padding-top:10px !important">
          <div class="col-sm-4" style="margin-top: 4px;">
            <div class="col-sm-4 newMarginClass">
            
                 </div>

            <div class="col-sm-8">
              <!-- <mat-select class="form-control" placeholder="Select Status">
                <mat-option [value]="0">ALL</mat-option>
              </mat-select> -->
            </div>
         
          </div>
          <div class="col-sm-6" style="margin-left: 200px;">
            <div class="col-lg-1" style="margin-left:80% !important;">
              <button mat-raised-button class="pull-right btn-primary">
                Go
              </button>
  
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="margin-left: -18px;">
              <button mat-raised-button style="background-color:#37474f; color:#fff !important;">
                Reset
              </button>
  
            </div>
          </div>
        </div>
        <div class="row" >
          
          <a (click)="filterToggle = !filterToggle" class="pull-right"
            style="font-size: 25px; cursor: pointer; margin-left: 5px;">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
          </a>

        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row mt-4 mr-1">
  <div class="col-sm-2 ">
  </div>
  <div class="col-sm-10 ">
      <div class="flex-p">
        
        <!-- <button *ngIf="viewNumber == 1"  mat-raised-button class="pull-right  btn-primary"  (click)="openClientDialog('add')">
          <mat-icon></mat-icon> Active
        </button>

        
        <button *ngIf="viewNumber == 1"  mat-raised-button class="pull-right  btn-primary"  
        (click)="openClientDialog('add')">
          <mat-icon></mat-icon> Archived
        </button> -->

        
        <button mat-raised-button class="pull-right  btn-primary"  (click)="openEditDialog('add')">
          <mat-icon>add</mat-icon> Add Rentals
        </button>
        

          <!-- <button mat-raised-button class="pull-right mr-2" 
          (click)="changeView(1)" [ngClass]="{'grayColor' : viewNumber == 1}">
              <mat-icon>grid_on</mat-icon> Grid View
          </button> -->

          <button mat-raised-button color="primary" class="pull-right filters-hover margin-right-10"
          (click)="filterToggle = !filterToggle">
          <mat-icon>filter_list</mat-icon> Filter
        </button>
      

      </div>

  </div>
</div>

<div class="row mt-2 ml-2 mr-1">
  <div class="col-xs-12 mt-3" style="margin-left: 5px;">
      <div id="divQuotesGrid" class="table-responsive" style="margin-left:-8px">
          <table matSort id="example2" class="table table-bordered table-hover">
              <thead class="tbl-head">
                  <tr>
                      <th class="text-left">Asset Transfer #</th>
                      
                      <th class="text-left">Asset Type #</th>
                      <th class="text-left">Serial #</th>
                      <th class="text-left">Date Logged #</th>
                      <th class="text-left">Date Intiated #</th>
                      <th class="text-left">Date Received #</th>
                      <th class="text-left">Work Hours</th>
                      <th class="text-left">Request Title</th>
                      <th class="text-left">Source Project</th>
                      <th class="text-left" style="width: 130px!important;">Source Location</th>
                      <th class="text-left">Receiving Project</th>
                      <th class="text-left">Destination</th>
                      <th class="text-left">Notes</th>
                      <th class="text-left">Summary</th>
                      <!-- <th class="text-left" style="width: 150px!important;">Items & Quantities</th> -->
                      <!-- <th class="text-center">Status</th> -->
                      
                      <th class="text-center" style="width: 112px!important;">
                        Status</th>
                      
                        <th class="text-center" style="width: 112px!important;">
                        Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of totalProjects">
                      <td>{{item.stnref}}</td>
                      <!-- <td style="text-align: center!important;"><a
                              style="color:#007ad9;cursor: pointer;"
                              (click)="openProjectsDilog('open')">{{item.projectCount}}</a></td> -->
                      <td style="text-align: left!important;">{{item.type}}</td>
                      <td style="text-align: left!important;">{{item.serial}}</td>
                      <td style="text-align: left!important;">{{item.logged}}</td>
                      <td style="text-align: left!important;">{{item.Intiated}}</td>
                      <td style="text-align: left!important;">{{item.received}}</td>
                      <td style="text-align: center!important; color:blue;cursor:pointer" (click)="openWorkHoursDialog(item)">
                        {{item.workHours}}
                      </td>
                      <td style="text-align: left!important;">{{item.requesttitle}}</td>
                      
                      <td style="text-align: left!important;">{{item.sourceproject}}</td>
                     
                      <td style="text-align: left!important;">{{item.sourcelocation}}</td>
                     
                      <td style="text-align: left!important;">{{item.receivingproject}}</td>

                      <td style="text-align: left!important;">{{item.destination}}</td>
                      
                      <td (click)="openNotesDialog()" style="text-align: center!important; 
                      color: blue; cursor: pointer;">
                      {{item.Notes}}</td>

                      <td><mat-icon style="color: rgb(44, 197, 6);cursor: pointer;" matTooltip="Income" routerLink="/purchase/income"> attach_money</mat-icon> 
                          <mat-icon style="color: #ff6152;cursor: pointer;" matTooltip="Expense" routerLink="/purchase/expense">money_off</mat-icon>
                          <mat-icon style="cursor: pointer;" matTooltip="Documents" routerLink="/purchase/document"> insert_drive_file</mat-icon>
                      </td>

                      <!-- <td style="text-align: center!important;"><a style="color: cornflowerblue; cursor: pointer; font-weight: bolder;"
                        matTooltip="Notes" (click)="openNotesDialog('add')">
                        {{item.Notes}}
                        </a>
                      </td> -->
                      <!-- <td style="text-align: center!important; color: cornflowerblue; cursor: pointer; font-weight: bolder;">
                        <a routerLink='/assets/asset-transfer/items'>{{item.itemsandquantites}}</a>
                      </td> -->
                      <td style="text-align: center!important;">{{item.Status}}</td>
                      
                      <td class="text-center editDel">
                          <a style="cursor: pointer;margin-right:10px; "
                              matTooltip="Update Client Details" (click)="openEditDialog('edit')">
                              <i class="fa fa-edit" style="color: cornflowerblue"></i>
                          </a>
                          <a><i class="fa fa-trash red" matTooltip="Delete Client"
                            (click)="openDeleteDialog(item)"  style="cursor: pointer;"></i></a>
                      </td>
                 
                    </tr>
                  <!-- <tr *ngIf="totalProjects == null || totalProjects.length == 0">
                      <td colspan="13">No data available</td>
                  </tr> -->
              </tbody>
          </table>
          <button class="mine" mat-fab (click)="scrollGrid('right');">
            <mat-icon style="color:#37474f">fast_forward</mat-icon>
          </button>
          <button class="mine" mat-fab style="margin-right: 78px !important;" (click)="scrollGrid('left');">
            <mat-icon style="color:#37474f">fast_rewind</mat-icon>
          </button>
          <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="25"
              [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
      </div>
  </div>
</div>
