
<div class="row ">
  <div class="col-sm-6 ">

  </div>
  <div class="col-sm-6 " style="    margin-left: -24px;">
    <div class="pull-right">

      <a mat-raised-button class="navtabWidth pull-right"
        style="background-color: #dddddd;" (click)=" back()">
        <mat-icon>keyboard_backspace</mat-icon> Back
      </a>
      <button mat-raised-button class="pull-right add-hover" (click)="openpayments(null)" style="color:white; background:#3b7bb8;margin-right:10px">
        <mat-icon>add</mat-icon> Add Payment
      </button>
    </div>
  </div>
</div>
<div class="table-responsive" style="width: 98%;margin-top:10px;margin-left:16px;overflow-x: hidden;">
  <table id="example2" class="table table-bordered table-hover" style="overflow-x: hidden;">
      <thead class="tbl-head">
          <tr class="tr-grid-header">
              <th class="vert-align-mid">Amount</th>
              <th class="vert-align-mid">Mode</th>
              <th class="vert-align-mid">Reference Number</th>
              <th class="vert-align-mid">Remarks</th>
              <th class="text-center">Date</th>
              <th class="text-center">Time</th>
              <th class="text-center">Actions</th>
          </tr>
      </thead>
      <tbody *ngFor="let item of items;let i = index">
          <tr>
              <td>{{item.amount}}</td>
              <td>{{item.mode}}</td>
              <td>{{item.ref}}</td>
              <td>{{item.remarks}}</td>
              <td class="text-center">{{item.date}}</td>
              <td class="text-center">{{item.time}}</td>
              <td class="text-center">
                  <a style="cursor: pointer;" matTooltip="Update">
                      <i class="fa fa-edit" style="color: cornflowerblue" (click)="openpayments('add')"></i>
                  </a>
                  <a>
                      <i class="fa fa-trash red" matTooltip="Delete" style="cursor: pointer;"></i>
                  </a>
              </td>


          </tr>
      </tbody>
  </table>
  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator> -->
</div>