<div class="NewHeader" style="background-color:#286ba5 !important; height: 50px;">
  <h1 mat-dialog-title>
    Update Attendance
  </h1>
</div>
<div mat-dialog-content>
  <form class="form-horizontal">

      <div class="form-group">
          <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Date: </label>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p-0">
              <input type="text" class="form-control" placeholder="Enter Date" required>
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label">Skill Category: </label>
          <mat-select class='col-sm-8 select-option form-control margin-bottom-15px' placeholder="-- Select Skill Category --">
            <mat-option [value]="1">Plumber</mat-option>
            <mat-option [value]="2">Electrician</mat-option>
            <mat-option [value]="3">Painter</mat-option>
          </mat-select>
      </div>

      <div class="form-group">
        <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label">Present: </label>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p-0">
          <input class="form-control" class="form-control" placeholder="MM/DD/YYYY" (keypress)="false" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" name="dt1">
            <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
        </div>
      </div>
  
  </form>

</div>

<mat-dialog-actions align="end">
  <button mat-raised-button class="btn-primary" (click)="close()"><mat-icon>send</mat-icon><span >Save</span></button>
  <button mat-raised-button class="add-dark-hover btn-default" (click)="close()"><mat-icon>cancel</mat-icon> Close</button>
</mat-dialog-actions>



