<div fxLayout="row wrap" #resizedDiv>
    <div class="flex-p w-100">

        <div class="row" style="margin-bottom:14px;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="w-100 flex-p">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="w-100 flex-p">
                   
                    <button mat-raised-button class="pull-right btn-primary" (click)="openEditDialog(null)">
                        <mat-icon>person_add</mat-icon> Add User
                    </button>
                    <button mat-raised-button color="primary" class="pull-right filter-hover margin-right-10"
                        (click)="filterToggle = !filterToggle">
                        <mat-icon>filter_list</mat-icon> Filter
                    </button>
                </div>
            </div>
        </div>

        <div fxLayout="row wrap" *ngIf="filterToggle" style="margin-left: 5px;">
            <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p">
                <form [formGroup]="filterForm">
                <mat-card class="filter">
                    <mat-card-content>
                        <div class="row col-sm-12">
                            <div class="col-sm-4">
                                <div class="col-sm-3 newMarginClass">
                                    Keyword:
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" formControlName="Keyword" onCopy="return false" onPaste="return false" class="form-control"
                                        placeholder="Search by Name, Email, Role...">
                                </div>
                            </div>
                      
                            <div class="col-sm-4">
                                <div class="col-sm-3 newMarginClass">
                                   Status:
                                </div>
                                <div class="col-sm-8">
                                  <mat-select placeholder="Select Status" class="form-control" formControlName="Status">
                                      <mat-option *ngFor="let option of Status" [value]="option.value">
                                        {{option.name}}
                                      </mat-option>                      
                                    </mat-select>                                
                                </div>
                            </div>
                            <div class="col-lg-1" style="margin-left:195px!important;">
                                <button mat-raised-button class="pull-right btn-primary" (click)="filter()">
                                    Search
                                </button>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="margin-left: -18px;">
                                <button mat-raised-button style="background-color:#37474f; color:#fff !important"
                                (click)="clearFilter()">
                                    Clear
                                </button>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </form>
            </div>
        </div>
      
        <div fxLayout="row wrap" style="margin-left: 13px;">
            <div class="table-responsive">
                <table id="example2" class="table table-bordered table-hover">
                    <thead class="tbl-head">
                        <tr class="tr-grid-header">
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th class="text-center">Permissions</th>
                            <th class="text-center">Project Permissions</th>    
                            <th class="text-center">Special Permissions</th>
                            <!-- <th>User Type</th> -->
                            <th class="text-center">Status</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let applicant of tableList">
                            <td>{{applicant.vcName}}</td>
                            <td>{{applicant.vcEmail}}
                                <!-- <i *ngIf="applicant.is_verified" title="User verified" class="fa fa-check Green"
                                aria-hidden="true"></i>
                                <i *ngIf="!applicant.is_verified" title="User not verified" class="fa fa-times Red"
                                aria-hidden="true"></i> -->
                            </td>
                            <td >{{applicant.vcPhone}}</td>
                            <td class="text-center"><a routerLink="/admin/manage-users/roles">{{applicant.roles}}</a></td>
                            <td class="text-center" style="color: blue;"><a routerLink="/admin/manage-users/permission">{{applicant.projectpermission}}</a></td>
                            <td class="text-center" style="color: blue;"><a routerLink="/admin/manage-users/splpermission">{{applicant.specialpermission}}</a></td>
                            <!-- <td>{{applicant.type}}</td> -->
                            <!-- <td>
                                <a  [ngStyle]="{'color': applicant.vcStatus? 'blue' : 'red','cursor':'pointer'}"
                                class="status"
                                mwlConfirmationPopover
                                [popoverTitle]="popoverStatusTitle"
                                [popoverMessage]="popoverStatusMessage"
                                placement="left"
                                (confirm)="saveStatus();applicant.vcStatus=!applicant.vcStatus"
                                (cancel)="cancelClicked = true">
                                {{applicant.vcStatus?'Active':'Inactive'}}
                            </a>
                        </td> -->
                        <td class="text-center" style="text-align: center !important;">

                            <a [ngStyle]="{'color':  applicant.vcStatus? 'blue' : 'red','cursor':'pointer'}"
                           
                            mwlConfirmationPopover [popoverTitle]="popoverStatusTitle"
                            [popoverMessage]="popoverStatusMessage" placement="left"
                            (confirm)="saveStatus(item);item.Status=!item.Status" (cancel)="cancelClicked = true">
                                  <span *ngIf="! applicant.vcStatus" style="color:red">Inactive</span>
                                  <span *ngIf=" applicant.vcStatus">Active</span>
                            </a>
                        </td>
                        <td class="editDel text-center">
                            <a title="Edit User" style="margin-right: 10px; cursor: pointer;" (click)="openUserDialog(applicant.intApplicantId)">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a mwlConfirmationPopover
                            [popoverTitle]="popoverTitle"
                            [popoverMessage]="popoverMessage"
                            placement="left"
                            (confirm)="deleteUser()"
                            (cancel)="cancelClicked = true">
                            <i style="cursor: pointer;" title="Delete User" class="fa fa-trash red"></i>
                        </a>
                        
                    </td>
                </tr>
            </tbody>
        </table>
                <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
                    [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
    </div>
  </div>