
<div class="NewHeader">
  <h1 mat-dialog-title> Add New Episode</h1>
</div>
<div mat-dialog-content>
  
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label"> Date: </label>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <input type="date" class="form-control" placeholder="Date">
      </div>
  </div>
  <div class="form-group">
    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label"> Subject: </label>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <input type="text" class="form-control" placeholder="Subject">
    </div>
</div>

    <div class="form-group">
      <label class="control-label col-sm-4 add-member-label">Category Name : </label>
      <div class="col-sm-8">
       <mat-select class="form-control" placeholder="Select Category Name">
         <mat-option>Electrical</mat-option>
         <mat-option>Plumbing</mat-option>
         <mat-option>Furniture</mat-option>
         <mat-option>Civil</mat-option>
       </mat-select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label"> Sent By: </label>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <input type="text" class="form-control" placeholder="Sent By">
      </div>
  </div>
   
    
  <div class="form-group">
    <label class="control-label col-sm-4 add-member-label">Recieved By : </label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="step" placeholder="Recieved By">
    </div>
  </div> 
    <div class="form-group">
      <label class="control-label col-sm-4 add-member-label">Enter Expected Completion : </label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="step" placeholder="Enter Expected Completion">
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-4 add-member-label">Enter Completion Percent : </label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="step" placeholder="Enter Completion Percent">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4 add-member-label">Enter Total Expenses : </label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="step" placeholder="Enter Total Expenses">
      </div>
    </div>
    
  
    
    <!--<div class="form-group">
      <label class="control-label col-sm-4 add-member-label">Upload : </label>
      <div class="col-sm-8">
        <input type="file">
      </div>
    </div>-->
    
    
  </form>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button class="btn-primary" (click)="saveStep()" [mat-dialog-close]="'test'"><mat-icon>send</mat-icon><span> Save</span></button>
    <button mat-raised-button class="CancelClass" (click)="close()"><mat-icon>cancel</mat-icon> Close</button>
  </mat-dialog-actions> 