
<div fxLayout="row wrap" #resizedDiv>
  <div class="flex-p w-100 sizeAlign">
<div class="row" style="margin-bottom:7px;">
  <div class="col-xs-6 ">
  </div>
  <div class="col-xs-6 ">
      <div class="flex-p">
         
          <button mat-raised-button  class="pull-right btn-primary " (click)="openUserDialog('add')"
          >
          <mat-icon>add</mat-icon> Add Drawing
      </button>

      <button mat-raised-button color="primary" class="pull-right filters-hover margin-right-10"
            (click)="filterToggle = !filterToggle">
            <mat-icon>filter_list</mat-icon> Filter
        </button>      
  </div>  
</div>
</div>

<!-- Filter -->
<div fxLayout="row wrap" *ngIf="filterToggle">
  <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100 margins">
      <mat-card class="filter">
          <mat-card-content>
              <div class="row">
                  <div class="col-sm-3">
                      <div class="col-sm-4 newMarginClass">
                          Keyword: 
                      </div>
                      <div class="col-sm-8">
                          <input type="text" placeholder="Search by any record" class="form-control" >
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="col-sm-4 newMarginClass">
                          Drawing Name: 
                      </div>
                      <div class="col-sm-8">
                        <input type="text" placeholder="Search by Drawing Name" class="form-control" >

                          </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="col-sm-4 newMarginClass">
                        Issue Date: 
                    </div>
                    <div class="col-sm-8">
                      <input type="date" placeholder="Search by any record" class="form-control" >
                      </div>
                </div>
                <div class="col-sm-3">                  
                    <div class="col-lg-1" style="margin-left: 130px;" >
                        <button mat-raised-button  class="pull-right btn-primary"><mat-icon>youtube_searched_for</mat-icon> Search</button>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" >
                        <button mat-raised-button style="background-color:#37474f; color:#fff !important" ><mat-icon>settings_backup_restore</mat-icon> Clear</button>
                    </div>
                    <a (click)="filterToggle = !filterToggle" class="pull-right" style="font-size: 25px; cursor: pointer; margin-left: 5px;">
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                    </a>   
                    </div>                   
              </div>
          </mat-card-content>
      </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
      <div id="grid-table-container" class="table-responsive">
          <table matSort id="example2" class="table table-bordered table-hover">
              <thead class="tbl-head">
                  <tr>
                    
                      <th >Drawing Serial</th>
                      <th >Drawing Name</th>
                      
                      <th >Description</th>
                      <th >Drawing Type</th>
                      <th class="text-center">BOQ Ref</th>
                      <th class="text-center">Drawing Date</th>
                      <th class="text-center">Date of issue</th>
                      <th >Incharge</th>
                      <th class="text-center">Current Version</th>
                      <th class="text-center">Previous Version</th>
                      <th class="text-center">Status</th>
                    
                      <th class="text-center" style="width: 120px!important;">Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of items">
                      <td style="min-width: 70px !important;">
                          {{item.serial}}
                    
                  </td>
                  <!-- <td style="text-align: center!important;">{{item.projectNumber}}</td> -->
                  
                  <td >{{item.name }}</td>
                  <td style="min-width: 200px !important;">{{item.description }}</td>
                  <td >{{item.Drawing_Type }}</td>
                  <td style="text-align: center!important;">{{item.boqref }}</td>
                  <td style="text-align: center!important;">{{item.Drawing_Date }}</td>
                  <td style="text-align: center!important;">{{item.Date_of_Issue }}</td>
                  <td >{{item.Incharge }}</td>
                  <td style="text-align: center!important;">
                    <a href="https://www.adobe.com/support/products/enterprise/knowledgecenter/media/c4611_sample_explain.pdf" target="_blank">View</a>
                  </td>
                  <td style="text-align: center!important;"><a (click)="openpreviousDialog('add')" style="color:#007ad9;cursor:pointer;">{{item.previous}}</a></td>
                  <td style="text-align: center!important;"><a style="color: blue;"> {{item.status }}</a></td>
         
                  
      <td  class="text-center editDel">
          <a style="cursor: pointer;margin-right:10px; " matTooltip="Update Item" >
              <i class="fa fa-edit" style="color: cornflowerblue"></i>
          </a>
          <a style="cursor: pointer;margin-right:10px; " matTooltip="Append New Version" (click)="openNewDialog('add')">
            <i class="fa fa-plus" style="color: cornflowerblue"></i>
        </a>
          <a ><i class="fa fa-trash red" matTooltip="Delete Item"  style="cursor: pointer;"></i></a>
      </td> 
  </tr>
 
</tbody>
</table>
<mat-paginator
[pageSizeOptions]="[5, 10, 25, 50, 100]"
showFirstLastButtons></mat-paginator>
<!-- <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="handlePage($event)"
  showFirstLastButtons></mat-paginator> -->
</div>
</div>
</div>

  </div>
</div>