<div class="row-wrap"  style="margin-left: 8px;">
  <div class="w-100">
    <div class="row">
      <div class="col-xs-12">
        <div class="pills">
          
          <ul class="nav nav-pills" style="margin-top: 15px; margin-left: 8px;">
            <!-- <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" [routerLink]="['/mrc/accounting/payables/aging-analysis']">
                <mat-icon>analytics</mat-icon> Ageing Analysis
              </a>
            </li> -->
            <!-- <li routerLinkActive="active" style="margin-left: 5px;">
              <a mat-raised-button class="navtabWidth" [routerLink]="['/accounting/payables/grid-view']">
                <mat-icon>grid_on</mat-icon> Grid View
              </a>
            </li> -->
            
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>