<div class="container-fluid">
  <div fxLayout="row wrap" #resizedDiv>
    <div class="flex-p w-100 sizeAlign">
      <div class="row" style="margin-bottom:23px;">
        <div class="col-sm-12"> 
          <button mat-raised-button class="pull-right  btn-default margin-right-10"
          routerLink="/purchase/servicecontracts/RfqServicecontracts">
             <mat-icon>chevron_left</mat-icon> Back
          </button>
        </div>
      </div>
    <div class="row" >
      <div class="col-xs-12" style="overflow-x: auto">
        <div id="grid-table-container" class="table-responsive" >
          <table id="example2" class="table table-bordered">
            <thead class="tbl-head" style="background-color: black;color: white;">
                <tr class="tr-grid-header" >
                    <th>Item Name</th>
                    <th >Item Code</th>
                    <th >Item Category</th>
                    <th  >Part Number</th>
                    <th >Part Make</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
              <tr style="background-color:powderblue ;">
                <ng-container>
                  <td  >Volvo</td>
                    <td  >FMX480</td>
                    <td >Heavy Tools</td>
                    <td  >B229900003680</td>
                    <td >	Komatsu</td>
                    <td  ><input style="cursor: no-drop;width: 70px;margin:0px auto" type="text"  value="25" class="form-control" disabled ></td>
                      <td class="text-center">
                        <a><i class="fa fa-plus DarkBlue" matTooltip="Add" (click)="allFields.push(1)" style="cursor: pointer;"></i></a>
                      </td>
                </ng-container> 
              </tr>
              <tr *ngFor="let item of allFields;let i = index;" style="background-color:#D3D3D3 ; ">
                  <ng-container>
                    <td  >Volvo</td>
                      <td  >FMX480</td>
                      <td >Heavy Tools</td>
                      <td  >B229900003680</td>
                      <td >	Komatsu</td>
                      <td ><input type="text"  value="200" class="form-control" style="width: 70px;margin:0px auto"></td>
                        <td class="text-center">
                            <a> <i class="fa fa-save green" matTooltip="Save RFQ" style="cursor: pointer;"  ></i></a>
                            <a ><i class="fa fa-trash red" matTooltip="Delete RFQ" (click)="removeItem(i)" style="cursor: pointer;"></i></a>
                        </td>
                  </ng-container> 
                </tr>
                <!-- 2nd  -->
                <tr style="background-color:powderblue ;">
                  <ng-container>
                    <td  >Caterpillar</td>
                      <td  >D85ESS 17</td>
                      <td >Hand and Power tools</td>
                      <td  >421-60-35170</td>
                      <td >	Caterpillar</td>
                      <td ><input style="cursor: no-drop;width: 70px;margin:0px auto" type="text"  value="150" class="form-control" disabled></td>
                        <td class="text-center">
                          <a><i class="fa fa-plus DarkBlue" matTooltip="Add" (click)="allFields1.push(1)" style="cursor: pointer;"></i></a>
                        </td>
                  </ng-container> 
                </tr>
                <tr *ngFor="let item of allFields1;let j = index;" style="background-color:#D3D3D3 ; " >
                    <ng-container>
                      <td  >Caterpillar</td>
                        <td  >D85ESS 17</td>
                        <td >Hand and Power tools</td>
                        <td  >421-60-35170</td>
                        <td >	Caterpillar</td>
                        <td ><input type="text"  value="200" class="form-control" style="width: 70px;margin:0px auto"></td>
                          <td class="text-center">
                              <a> <i class="fa fa-save green" matTooltip="Save RFQ" style="cursor: pointer;"  ></i></a>
                              <a ><i class="fa fa-trash red" matTooltip="Delete RFQ" (click)="removeItem1(j)" style="cursor: pointer;"></i></a>
                          </td>
                    </ng-container> 
                  </tr>
                  <!-- 3rd -->
                  <tr style="background-color:powderblue ;">
                    <ng-container>
                      <td  >Mercedes</td>
                        <td  >All Models</td>
                        <td >Consumables and Building Materials</td>
                        <td  >B229900003680</td>
                        <td >	Kirloskar</td>
                        <td><input  style="cursor: no-drop;width: 70px;margin:0px auto" type="text"  value="220" class="form-control" disabled></td>
                          <td class="text-center">
                            <a><i class="fa fa-plus DarkBlue" matTooltip="Add" (click)="allFields2.push(1)" style="cursor: pointer;"></i></a>
                          </td>
                    </ng-container> 
                  </tr>
                  <tr *ngFor="let item of allFields2;let k = index;" style="background-color:#D3D3D3 ; ">
                      <ng-container>
                        <td  >Mercedes</td>
                          <td  >All Models</td>
                          <td >Consumables and Building Materials</td>
                          <td  >B229900003680</td>
                          <td >	Kirloskar</td>
                          <td ><input type="text"  value="30" class="form-control" style="width: 70px;margin:0px auto"></td>
                            <td class="text-center">
                                <a> <i class="fa fa-save green" matTooltip="Save RFQ" style="cursor: pointer;"  ></i></a>
                                <a ><i class="fa fa-trash red" matTooltip="Delete RFQ" (click)="removeItem2(k)" style="cursor: pointer;"></i></a>
                            </td>
                      </ng-container> 
                    </tr>
            </tbody>
        </table>   
          
        </div>
        
      </div>
    </div>
    </div>
  </div>
  
  </div>
