<p class="col-sm-12">
    <span style="font-size: 18px;font-weight: bold; margin-right: 8px">Contract Name:</span>
    <span style="font-size: 16px; margin-right: 60px">P-12564</span>

    <span style="font-size: 18px;font-weight: bold; margin-right: 8px;">Client Name:</span>
    <span style="font-size: 16px; margin-right: 60px"> Gautham Adani</span>

    <span style="font-size: 18px;font-weight: bold; margin-right: 8px;">Project Name:</span>
    <span style="font-size: 16px; margin-right: 60px">Solar Power</span>

    <span style="font-size: 18px;font-weight: bold; margin-right: 8px">Project Status:</span>
    <span style="font-size: 16px; margin-right: 8px;"> Active</span>
    


</p>
<div fxLayout="row" class="super-row" style="padding: 5px 17px 5px 17px">

    <a routerLinkActive="active-link" routerLink="/contracts/project-dashboard/bill-of-quantities"
        class="col-sm font-color">BOQ
    <br /></a>

    <a routerLinkActive="active-link" routerLink="/contracts/project-dashboard/bill-of-quantities/contract-wb"
        class="col-sm font-color">WBS
    <br /></a>

    <a routerLinkActive="active-link" routerLink="/contracts/project-dashboard/contract-scheduling"
        class="col-sm font-color">Scheduling
    <br /></a>

    <a routerLinkActive="active-link" routerLink="/contracts/project-dashboard/bill-of-quantities/requisitions"
        class="col-sm font-color">Requisition
    <br /></a>

    <a routerLinkActive="active-link" routerLink="/contracts/project-dashboard/bill-of-quantities/issues"
        class="col-sm font-color">Material Issues
    <br /></a>

    <a routerLinkActive="active-link" routerLink="/contracts/project-dashboard/bill-of-quantities/hours"
        class="col-sm font-color">Hours
    <br /></a>

    <a routerLinkActive="active-link" routerLink="/contracts/project-dashboard/bill-of-quantities/expenses"
        class="col-sm font-color">Expenses
    <br /></a>

    <a routerLinkActive="active-link" routerLink="/contracts/project-dashboard/billing"
        class="col-sm font-color">Billing 
    <br /></a>

    <a routerLinkActive="active-link" routerLink="/contracts/project-dashboard/closure"
        class="col-sm font-color">Closure
    </a>

    <a routerLinkActive="active-link" routerLink="/contracts/project-dashboard/contract-summary"
        class="col-sm font-color">Summary 
    <br /></a>

</div>
