
<div class="NewHeader">
  <h1 mat-dialog-title>
    Approve Stock
  </h1>
</div>
<div mat-dialog-content>

<form class="form-horizontal">

  <div class="form-group">
    <label class="control-label col-sm-4 add-member-label">Stocking Date: </label>
    <div class="col-sm-8">
      <input type="date" class="form-control" id="step" placeholder="Enter Date">
    </div>
  </div>
  <div class="form-group">
      <label class="control-label col-sm-4 add-member-label">Upload Document: </label>
      <div class="col-sm-8">
        <input type="file">
      </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4">Remarks: </label>
        <div class="col-sm-8">
            <textarea rows="2" type="text"  maxlength="100" class="form-control"
              placeholder="Enter Your Remarks">
            </textarea>
        </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4 add-member-label">OTP: </label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="step" placeholder="Enter OTP">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4"></label>
      <div class="col-sm-8">
        <label>Generate OTP to <span style="color: blue; cursor:pointer" matTooltip="Send OTP to Mobile"> Mobile (Send)</span> | <span style="color: blue; cursor:pointer" matTooltip="Send OTP to Mail"> Email (Send)</span></label>
      </div>
    </div>
  
</form>
</div>
<mat-dialog-actions align="end">
<button mat-raised-button class="btn-primary" (click)="close()" [mat-dialog-close]="'test'"><span>Save</span></button>
  <button mat-raised-button class="CancelClass" (click)="close()">Close</button>
</mat-dialog-actions> 