<p class="col-sm-12" style="margin-top: 20px !important;">
        <span style="font-size: 18px;font-weight: bold; margin-right: 8px">Project Info:</span>
        <span style="font-size: 16px; margin-right: 50px">R-025012 </span>
        <span style="font-size: 18px;font-weight: bold; margin-right: 8px">Client Name:</span>
        <span style="font-size: 16px; margin-right: 50px">Robert pattinson </span>
        <span style="font-size: 18px;font-weight: bold; margin-right: 8px">Project
            Status:</span>
        <span style="font-size: 16px; margin-right: 8px;margin-top: 2px;"> Active</span>

    </p>

<div class="row super-row" style="padding: 5px 24px 10px 23px">

    <a routerLinkActive="active-link" routerLink="/quotes/quotes-dashboard/property"
      class="col-sm font-color">Overview
      <br /></a> 

    <a routerLinkActive="active-link"  routerLink="/quotes/quotes-dashboard/budget"
      class="col-sm font-color" >Budget
      <br /> </a>

    <a routerLinkActive="active-link"  routerLink="boq"  class="col-sm font-color">BOQ
            <br /> </a>

    <a class="disabled" class="col-sm font-colorr" style="cursor: no-drop">WBS
            <br /> </a>

    <a class="disabled" class="col-sm font-colorr" style="cursor: no-drop">Contracts
        </a>

    <a class="disabled" class="col-sm font-colorr" style="cursor: no-drop">Scheduling
            <br /></a>


    <a class="disabled" style="cursor: no-drop" class="col-sm font-colorr">Activity
            <br /> </a>


    <a routerLinkActive="active-link" routerLink="quotes-updates" class="col-sm font-color">Updates
            <br /></a>


    <a class="disabled" style="cursor: no-drop" class="col-sm font-colorr">Hours
            <br /></a>

    <a class="disabled" class="col-sm font-colorr" style="cursor: no-drop">Expenses
            <br /></a>


    <a  class="disabled" class="col-sm font-colorr" style="cursor: no-drop">Requisitions
            <br /></a>


    <a class="disabled" style="cursor: no-drop" class="col-sm font-colorr">Summary Report
            </a>

    <a  class="disabled" class="col-sm font-colorr" style="cursor: no-drop">Manage
            <br /></a>

    <a  class="disabled" class="col-sm font-colorr" style="cursor: no-drop">Invoices
            <br /></a>

   <a routerLinkActive="active-link" routerLink="/quotes/quotes-dashboard/task-log" class="col-sm font-color">Task Log</a>

   <a  class="col-sm font-color"  routerLinkActive="active-link"  routerLink="/quotes/quotes-dashboard/docs">Docs
        <br /></a>

   
    </div>

      
      <div class="w-100">
          <div class="flex-p">
              <div class="row wrap">
                  <div class="col-sm-12 no-padding">
                      <router-outlet></router-outlet>
                  </div>
              </div>
          </div>