<h1 mat-dialog-title class="custom-header" style="background-color:#286ba5 !important;height:50px">{{ data ? 'Update' : 'Add'}} New Item</h1>
<form>
  <div mat-dialog-content>
    <div class="col-sm-12">

      <div class="form-group ">
        <div class="row">
          <label class="col-sm-12 add-member-label">Indent Reference</label>
          <div class="col-sm-12">
            <mat-select placeholder="Select Indent" class="form-control" multiple>
              <mat-option>OM/REQ/SPA-FEB-19/1057</mat-option>
              <mat-option>OM/REQ/SPA/APR-20/1005</mat-option>
              <mat-option>OM/REQ/SPA-FEB-19/1041</mat-option>
              <mat-option>OM/REQ/SPA/FEB-21/1077</mat-option>
              <mat-option> OM/REQ/SPA/MAR-21/1086</mat-option>
          </mat-select>
          </div>
        </div>
     </div>
        <div class="form-group" >
          <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;" >Item Name: </label>
          <input type="text" class="form-control" placeholder="Enter Item Name" >
        </div>
  
        <div class="form-group" >
          <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;" >Item Code: </label>
          <input type="text" class="form-control" placeholder="Enter Item Name" >
        </div>
        
       
          <div class="form-group ">
              <div class="row">
                <label class="col-sm-12 add-member-label">Part Make</label>
                <div class="col-sm-12">
                  <mat-select placeholder="Select Part Make" class="form-control">
                    <mat-option>volvo</mat-option>
                    <mat-option>Caterpillar</mat-option>
                    <mat-option>Kirloskar</mat-option>
                    <mat-option>Ashok Leyland</mat-option>
                    <mat-option> Tata</mat-option>
                </mat-select>
                </div>
              </div>
           </div>
      <div class="form-group">
        <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;">Quantity Required: </label>
        <input type="text" class="form-control" placeholder="Enter Quantity Required" required >
      </div>

      
    </div>
      

    </div>

    <mat-dialog-actions align="center"  class="pull-right" style="margin-top: 5px;">
      <button mat-raised-button class="add-hover btn-primary pull-right" type="submit"><mat-icon>send</mat-icon>&nbsp;Save</button>
      <button mat-raised-button type="button" class="add-dark-hover btn-default pull-right" (click)="close()"><mat-icon>cancel</mat-icon>&nbsp;Cancel</button>
  </mat-dialog-actions>
</form>





