<div class="flex-p">
  <div class="row wrap">
      <div class="col-sm-12 no-padding">
          <div class="row-wrap">
              <div class="w-100">
                  <div class="row">
                      <div class="col-xs-12">
                          <div class="pills">
                              <ul class="nav nav-pills pull-right">
                                  <li routerLink="/purchase/procurement/purchase-orders/published-po">
                                      <a mat-raised-button class="navtabWidth" style="margin-top: -10px;">
                                          Back
                                      </a>
                                  </li>                             
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

 


<div class="w-100">
  <div class="flex-p">
      <div class="row wrap">
          <div class="col-sm-12 no-padding">
              <div class="row-wrap">
                  <div class="w-100">
                      <div class="row">

                        <!-- <div class="w-100" style="margin-left: 10px!important;">
                          <div class="flex-p">
                          <mat-drawer-container>
                          <mat-drawer-content>
                          <mat-card class="col-sm-12" style="background-color: #dbe8f3 !important;width: 98.7%; padding: 10px 0px !important;">
                           
                            
                            <div class="col-sm-12 mb-2">
                              <div class="col-sm-4">
                                
                                  <label>PO No.:</label>
                                  <span>&nbsp;&nbsp;OM/BHL/OCT/19-20/1073</span>
                               
                              </div>
                              <div class="col-sm-4">
                                
                                  <label>PO Category:</label>
                                  <span>&nbsp;&nbsp;Backhoe Loader</span>
                               
                              </div>
                              <div class="col-sm-4">
                               
                                  <label>PO Sub Category:</label>
                                  <span>&nbsp;
                                    Ground Engaging Tools</span>
                               
                              </div>
                            </div>
                            <div class="col-sm-12 mb-2">
                              <div class="col-sm-4">
                                
                                  <label>Vendor Name:</label>
                                  <span>&nbsp;&nbsp;Rane Holdings Ltd</span>
                               
                              </div>
                              <div class="col-sm-4">
                                
                                  <label>Branch Name</label>
                                  <span>&nbsp;&nbsp;Branch - 1 - IGST</span>
                               
                              </div>
                              <div class="col-sm-4">
                               
                                  <label>PO Type:</label>
                                  <span>&nbsp;
                                    Non FOC</span>
                               
                              </div>
                            </div>
                            <div class="col-sm-12 mb-2">
                              <div class="col-sm-4">
                                
                                  <label>Delivery Period:</label>
                                  <span>&nbsp;&nbsp;1 Day (s)</span>
                               
                              </div>
                              <div class="col-sm-4">
                                
                                  <label>Quotation No.:</label>
                                  <span>&nbsp;&nbsp;QT0000000000000000000000000000</span>
                               
                              </div>
                              <div class="col-sm-4">
                               
                                  <label>Quotation Date:</label>
                                  <span>&nbsp;
                                    15-Oct-2019</span>
                               
                              </div>
                            </div>
                            
                          </mat-card>
                          </mat-drawer-content>
                          </mat-drawer-container>
                          </div>
                        </div> -->


                          <div class="col-xs-12" style="margin-bottom: 15px;" >
                                 <!-- <div class="col-sm-4" style="background-color: powderblue;" routerLinkActive="active-link" routerLink="/purchase/PublishPurchaseorderRevise/ConfigurationRevise">
                                  
                                    <label style="font-weight:bold; font-size: 30px;">1</label>
                                    <span style=" font-size: 20px;">&nbsp;&nbsp;
                                      Configuration
                                    </span>
                                  
                                 </div> -->
                                 <!-- <div class="col-sm-4" style="background-color: powderblue;" routerLinkActive="active-link" routerLink="/purchase/PublishPurchaseorderRevise/TermsConditionsRevise">
                                  
                                    <label style="font-weight:bold; font-size: 30px;">2</label>
                                      <span style=" font-size: 20px;">&nbsp;&nbsp;
                                        Choose Terms & Conditions
                                      </span>
                                 
                                 </div> -->
                                 <!-- <div class="col-sm-4" style="background-color: powderblue;" routerLinkActive="active-link" routerLink="/purchase/PublishPurchaseorderRevise/PreviewSubmissionRevise">
                                 
                                    <label style="font-weight:bold; font-size: 30px;">3</label>
                                    <span style=" font-size: 20px;">&nbsp;&nbsp;
                                      PreviewSubmissionRevise
                                    </span>
                                 
                                 </div> -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <router-outlet></router-outlet>
</div>

<!-- <div fxLayout="row" class="super-row" style="padding: 5px 17px 5px 17px">

  <a style="background-color: powderblue;" routerLinkActive="active-link" routerLink="/purchase/PublishPurchaseorderRevise/ConfigurationRevise"
      class="col-sm ">Configuration
  <br /></a>

  <a style="background-color: powderblue;" routerLinkActive="active-link" routerLink="/purchase/PublishPurchaseorderRevise/ConfigurationRevise"
      class="col-sm font-color"> Choose Terms & Conditions
  <br /></a>
 
  <a routerLinkActive="active-link" routerLink="/accounting/payable"
  class="col-sm font-color">  Preview & Submission
  <br /></a>
</div>
<router-outlet></router-outlet> -->

 