<div class="NewHeader" style="background-color:#286ba5 !important; height: 50px;">
  <h1 mat-dialog-title>
    Add Notes
  </h1>
</div>

<div mat-dialog-content>
  <form class="form-horizontal">
    <div style="padding: 0px 30px !important;">
      <div class="form-group">
        <div class="col-sm-12">
          <label style="font-weight: bold;">
            Issue Request Ref:
          </label>
          <span style="font-weight: bold;">&nbsp;
            OM/MI/OCT-19/10005
          </span>
        </div>
        <div class="col-sm-12">
          <textarea type="text" maxlength="300" class="form-control" style="height: 150px;" >Material issue is an issue that must be decided in order to resolve a controversy. It is an issue of legal consequence or other importance. ... An issue not necessary to decide the point of law is referred to as an immaterial issue.</textarea>
        </div>
      </div>
    </div>
  </form>
</div>
<mat-dialog-actions align="end">

  <button mat-raised-button class="btn-success" (click)="close()">Save</button>
  <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">Cancel</button>
</mat-dialog-actions> 


