<!-- <div class="row-wrap">
  <div class="w-100">      
      <div class="row">
          <div class="col-xs-12" style="margin-bottom: 15px;">
              <div class="pills">
                  <ul class="nav nav-pills" style="margin-left: 10px;">
                      <li routerLinkActive="active" [routerLink]="['/projects/quotes-dashboard/activity/status-log']">
                          <a mat-raised-button class="navtabWidth">
                              Status Log
                          </a>
                      </li>
                      <li routerLinkActive="active" [routerLink]="['/projects/quotes-dashboard/activity/site-sow']">
                          <a mat-raised-button class="navtabWidth" >
                               Site & SOW
                          </a>
                      </li>
                      <li routerLinkActive="active" [routerLink]="['/projects/quotes-dashboard/activity/administration']">
                          <a mat-raised-button class="navtabWidth" >
                            Administration
                          </a>
                      </li>
                    <li routerLinkActive="active" [routerLink]="['/projects/quotes-dashboard/activity/calculations']">
                      <a mat-raised-button class="navtabWidth">
                          Calculations
                      </a>
                  </li>
                      <li routerLinkActive="active" [routerLink]="['/projects/quotes-dashboard/activity/drafting']">
                        <a mat-raised-button class="navtabWidth">
                            Drafting
                        </a>
                    </li>
                    <li routerLinkActive="active" [routerLink]="['/projects/quotes-dashboard/activity/field']">
                      <a mat-raised-button class="navtabWidth">
                          Field
                      </a>
                  </li>
                  <li routerLinkActive="active" [routerLink]="['/projects/quotes-dashboard/activity/management']">
                    <a mat-raised-button class="navtabWidth">
                        Management
                    </a>
                </li>
                    <li routerLinkActive="active" [routerLink]="['/projects/quotes-dashboard/activity/qualitycontrol']">
                      <a mat-raised-button class="navtabWidth">
                          Quality Control
                      </a>
                  </li> 
                 
                <li routerLinkActive="active" [routerLink]="['/projects/quotes-dashboard/activity/quote']">
                  <a mat-raised-button class="navtabWidth">
                      Quote
                  </a>
              </li>
              <li routerLinkActive="active" [routerLink]="['/projects/quotes-dashboard/activity/research']">
                <a mat-raised-button class="navtabWidth">
                    Research
                </a>
            </li>
                  </ul>
              </div>
          </div>
          
      </div>
  </div>
</div> -->

<router-outlet></router-outlet>

