<h1 mat-dialog-title class="custom-header"
  style=" background-color: #286ba5 !important; height: 50px; font-weight: bold !important; "> Requisition Details </h1>
<div class="container-fluid">
  <div fxLayout="row wrap" #resizedDiv>
    <div class="flex-p w-100 sizeAlign">
      <!-- <div class="row" style="margin-bottom:23px;"> <div class="col-sm-12"> <button mat-raised-button class="pull-right  btn-default margin-right-10" routerLink="/purchase/material-management/requisition"> <mat-icon>chevron_left</mat-icon> Back </button> <button mat-raised-button class="pull-right  btn-primary margin-right-10" (click)="openGridColumnsDialog()"> <mat-icon>grid_on</mat-icon> Grid Columns </button> <button mat-raised-button class="pull-right  btn-primary margin-right-10" (click)="addnewitem(null)"> <mat-icon>add</mat-icon> Add New Item </button> </div> </div> -->
      <div class="row">
        <div class="col-xs-12" style="overflow-x: auto">
          <div id="grid-table-container" class="table-responsive">
            <table matSort id="example2" class="table table-bordered table-hover" style="margin-left: 0px !important">
              <thead class="tbl-head">
                <tr>
                  <th class="text-left">Requisition Ref</th>
                  <th class="text-center">No. of Items</th>
                  <th class="text-center">Value</th>
                  <!-- <th class="text-left">Item Name</th> <th class="text-center" >Item Code</th> -->
                  <th class="text-center">Required Qty</th>
                  <th class="text-center">Required By</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of items">
                  <td class="text-left">{{ item.RequisitionRef }}</td>
                  <td class="text-left" class="text-center"> {{ item.ReqValues }} </td>
                  <td class="text-left" class="text-center"> {{ item.Value }} </td>
                  <!-- <td class="text-left">{{item.ItemName}}</td> <td class="text-center">{{item.ItemCode}}</td> -->
                  <td class="text-center">{{ item.RequiredQty }}</td>
                  <td class="text-center">{{ item.RequiredBy }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <mat-dialog-actions align="end" class="pull-right" style="margin-top: 5px"> <button mat-raised-button type="button"
        class="add-dark-hover btn-default pull-right" (click)="close()">
        <mat-icon>cancel</mat-icon>&nbsp;Close
      </button> </mat-dialog-actions>
  </div>
</div>