<h1 mat-dialog-title class="custom-header" style="background-color:#286ba5 !important;height:50px">Add New Item</h1>
<form>
  <div mat-dialog-content>
    <div class="col-sm-12">
      <div class="col-sm-6"> 
        <div class="form-group ">
          <div class="row">
            <label class="col-sm-12 add-member-label">PO Refrence:</label>
              <div class="col-sm-12">
                <mat-select placeholder="Select Part Number" class="form-control">
                  <mat-option value="1">OM/BHL/OCT/19-20/1077</mat-option>
                  <mat-option value="1">OM/BHL/OCT/19-20/1078</mat-option>
                  <mat-option value="1">OM/BHL/OCT/19-20/1079</mat-option>
                  <mat-option value="1">OM/BHL/OCT/19-20/1080</mat-option>
                  <mat-option value="1">OM/BHL/OCT/19-20/1081</mat-option>
                  <mat-option value="1">OM/BHL/OCT/19-20/1082</mat-option>
               </mat-select>
              </div>
          </div>
       </div>
  
       <!-- <div class="form-group ">
        <div class="row">
          <label class="col-sm-12 add-member-label">Part Make</label>
          <div class="col-sm-12">
            <mat-select placeholder="Select Part Make" class="form-control">
              <mat-option>volvo</mat-option>
              <mat-option>Caterpillar</mat-option>
              <mat-option>Kirloskar</mat-option>
              <mat-option>Ashok Leyland</mat-option>
              <mat-option> Tata</mat-option>
          </mat-select>
          </div>
        </div>
       </div> -->
         
       <div class="form-group" >
        <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;">Invoice Refrence:</label>
        <input type="text" class="form-control" placeholder="Enter Order Qty" >
       </div>
        
       <div class="form-group" >
        <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;">Amount:</label>
        <input type="text" class="form-control" placeholder="Enter Supplied Qty" >
       </div>

       <div class="form-group" >
         <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;">Upload file:</label>
         <input type="file" name="fileToUpload" id="fileToUpload">
         <!-- <input type="submit" value="Upload Image" name="submit"> -->
       </div>
    
       <!-- <div class="form-group" >
        <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;"> Unit Price:</label>
        <input type="text" class="form-control" placeholder="Enter Unit Price" >
       </div>
     
      </div>
      <div class="col-sm-6"> 
        <div class="form-group" >
          <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;"> GST Amount:</label>
          <input type="text" class="form-control" placeholder="Enter GST Amount" >
         </div>

         <div class="form-group" >
          <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;"> Invoiced:</label>
          <input type="text" class="form-control" placeholder="Enter Invoiced" >
         </div>

         <div class="form-group" >
          <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;"> Paid:</label>
          <input type="text" class="form-control" placeholder="Enter Paid" >
         </div>

         <div class="form-group" >
          <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;"> Total Taxable Value:</label>
          <input type="text" class="form-control" placeholder="Enter Total Taxable Value" >
         </div>

         <div class="form-group" >
          <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;">Total GST Value:</label>
          <input type="text" class="form-control" placeholder="Enter Total GST Value" >
         </div> -->


      </div>

      
    </div>
      

    </div>

    <mat-dialog-actions align="end">
        <button mat-raised-button class="add-hover btn-primary" type="submit" (click)="close()"><mat-icon>send</mat-icon>&nbsp;Save</button>
        <button mat-raised-button type="button" class="add-dark-hover btn-default" (click)="close()"><mat-icon>cancel</mat-icon>&nbsp;Cancel</button>
    </mat-dialog-actions>
</form>




