<div class="my-4 buttons-panel">
    <button mat-raised-button class="pull-right btn-primary" (click)="openAddCategory({})">
        <mat-icon>add</mat-icon> Add Monthly Record
    </button>
</div>

<div class="col-xs-12" style="margin-top: 80px;">
  <div id="grid-table-container" class="table-responsive">
      <table matSort id="example2" class="table table-bordered table-hover">
          <thead class="tbl-head">
              <tr>
                  <th >S.No</th>
                  <th >Month</th>
                  <th >Year</th>
                  <th >Skill Category</th>
                  <th >Requirement</th>
                  <th >Remarks</th>
                  
                  <th class="text-center" style="width: 112px!important;">Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of items">

                  <td >{{ item.num }}</td>
                  <td >{{item.month}} </td>
                  <td >{{item.year}} </td>
                  <td >{{item.skill}} </td>
                  <td >{{item.requirement}} </td>    
                  <td >{{item.remarks}} </td>               
                  
                  <td  class="text-center editDel">
                      <a style="cursor: pointer;margin-right:10px;" (click)="openAddCategory()">
                          <i class="fa fa-edit" style="color: cornflowerblue"></i>
                      </a>
                      <a ><i class="fa fa-trash red" style="cursor: pointer;"></i></a>
                  </td> 
                    
            </tr>

        </tbody>

      </table>

    <mat-paginator [pageSizeOptions]="[9, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>

  </div>
</div>
