<div class="w-100">
  <div class="flex-p">
      <div class="row wrap">
          <div class="col-sm-12 no-padding">
              <div class="row-wrap">
                  <div class="w-100">
                          <div class="col-xs-12" style="margin-bottom: 15px;">
                              <div class="pills">
                                  <ul class="nav nav-pills" style="margin-bottom: -25px;">
                                      <li routerLinkActive="active" routerLink="/purchase/procurement/">
                                          <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                              Procurement
                                          </a>
                                      </li>
                                      <li routerLinkActive="active" routerLink="/purchase/inventory-management/">
                                        <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                          Store Management
                                        </a>
                                      </li>
                                      <li routerLinkActive="active" routerLink="/purchase/material-requirement/">
                                          <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                            Inventory Control
                                          </a>
                                      </li>  
                                      <li routerLinkActive="active" routerLink="/purchase/servicecontracts/">
                                        <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                          Service Contracts
                                        </a>
                                      </li>  
                                      <li routerLinkActive="active" routerLink="/purchase/setup/">
                                        <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                          Setup
                                        </a>
                                      </li>  
                                      <li routerLinkActive="active" routerLink="/purchase/finance/">
                                        <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                          Finance
                                        </a>
                                      </li>
                                      <li routerLinkActive="active" routerLink="/purchase/rentals">
                                        <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                          Rentals
                                        </a>
                                      </li>
                                      <li routerLinkActive="active" class="mt-4 ml-5" style="width:29%" >
                                        <ng-multiselect-dropdown #multiSelect style="margin-top: 10px;"
                                            [placeholder]="'Select Project'" 
                                            [data]="data" 
                                            [formControl]="f.name" 
                                            [settings]="settings"
                                            [disabled]="false"
                                            (onFilterChange)="onFilterChange($event)"
                                            (onDropDownClose)="onDropDownClose($event)"
                                            (onSelect)="onItemSelect($event)" 
                                            (onDeSelect)="onDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            (onDeSelectAll)="onDeSelectAll($event)">
                                          </ng-multiselect-dropdown>
                                      </li>                              
                                  </ul>
                              </div>
                          </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<router-outlet></router-outlet>