<div class="row-wrap">
  <div class="w-100">
    <div fxLayout="row">
      <div class="col-xs-6">
        <div class="pills">
          <ul class="nav nav-pills" style="margin-top: 10px;margin-left:-8px">

            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth"
                [routerLink]="['/quotes/quotes-dashboard/quotes-updates/notes']">
                Notes
              </a>
            </li>
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth"
                [routerLink]="['/quotes/quotes-dashboard/quotes-updates/photos']">
                Photos 
              </a>
            </li>


          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>