<div class="col-sm-12">
  <div class="pull-right col-sm-1 no-padding">
  </div>
</div>
<div class="no-padding col-sm-12"> 
  <form style="width: 1370px;margin-left: -14px;">
      <div fxLayout="row wrap"  *ngIf="filterToggle">
          <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100">
              <mat-card class="filter">
                  <mat-card-content>
                      <div class="row col-sm-12">
                          <div class="col-sm-3">
                              <div class="col-sm-3 no-padding" style="margin-top: 6px !important;">Site:</div>
                              <div class="col-sm-9 no-padding">
                                  <mat-select placeholder="--Please Select--" class='form-control'>
                                      <mat-option class='option'></mat-option>
                                  </mat-select>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="col-sm-3 no-padding" style="margin-top: 6px !important;">SOW:</div>
                              <div class="col-sm-9 no-padding">
                                  <mat-select placeholder="--Please Select--" class='form-control'>
                                      <mat-option class='option'></mat-option>
                                  </mat-select>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="col-sm-3 no-padding" style="margin-top: 6px !important;">Task:</div>
                              <div class="col-sm-9 no-padding">
                                  <mat-select multiple placeholder="--Please Select--" class='form-control'>
                                      <mat-option #allSelectedTasks [value]="0">Select All</mat-option>
                                      <mat-option class='option'></mat-option>
                                  </mat-select>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="col-sm-3 no-padding" style="margin-top: 6px !important;">Action Type:</div>
                              <div class="col-sm-9 no-padding">
                                  <mat-select multiple placeholder="--Please Select--" class='form-control'>
                                      <mat-option #allSelectedActions [value]="0">Select All</mat-option>
                                      <mat-option class='option'></mat-option>
                                  </mat-select>
                              </div>
                          </div>
                      </div>
                      <div class="row col-sm-12" style="margin-top: 10px;">
                          <div class="col-sm-3">
                              <div class="col-sm-3 no-padding" style="margin-top: 6px !important;">User:</div>
                              <div class="col-sm-9 no-padding">
                                  <mat-select multiple placeholder="--Please Select--" class='form-control'>
                                      <mat-option #allSelectedUsers [value]="0">Select All</mat-option>
                                      <mat-option class='option'></mat-option>
                                  </mat-select>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="col-sm-3 no-padding" style="margin-top: 6px !important;">From Date:</div>
                              <div class="col-sm-9 no-padding">
                                <input class="form-control" class="form-control" placeholder="MM/DD/YYYY" (keypress)="false"
                                [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" name="dt1">
                              <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="col-sm-3 no-padding" style="margin-top: 6px !important;">To Date:</div>
                              <div class="col-sm-9 no-padding">
                                <input class="form-control" class="form-control" placeholder="MM/DD/YYYY" (keypress)="false"
                                [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" name="dt2">
                              <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <div style="margin-left: 65px;">
                              <button mat-raised-button color="primary" class="add-hover btn-primary search">
                                  <mat-icon>youtube_searched_for</mat-icon> Search
                              </button>
                              <button mat-raised-button (click)="resetFilter()" class="" style="margin: 0px 10px;">
                                  <mat-icon>settings_backup_restore</mat-icon> Reset
                              </button>
                              <a (click)="filterToggle = !filterToggle" class="pull-right"
                                style="font-size: 25px; cursor: pointer; margin-left: 5px;">
                                <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                              </a>
                              
                          </div>
                          </div>
                      </div>
                  </mat-card-content>
              </mat-card>
          </div>
      </div>
  </form>
</div>

<div class="table-responsive w-100 flex-p">
  <table id="example2" class="table table-bordered table-hover">
      <thead class="tbl-head">
          <tr class="tr-grid-header">
              <th class="vert-align-mid" style="min-width: 71px !important;">Az Invoice No.</th>
              <th class="vert-align-mid" style="width:143px">Official Invoice No.</th>
              <th class="vert-align-mid" style="width:101px">Invoice Total</th>
              <th class="vert-align-mid">Balance Amount</th>
              <th class="vert-align-mid">Invoice Date</th>
              <th class="vert-align-mid">Days Old</th>
              <th class="vert-align-mid">Invoice Status	</th>
              <th class="vert-align-mid" style="width:105px">Activity Date</th>
              <th>Sent To	</th>
            <th>
              Sent Date</th>
            <th>
              Sent By</th>
            <th>
              Created Date	</th>
              <th class="vert-align-mid">Actions</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of items">
              <td>{{item.azInvoiceNo}}</td>
              <td>{{item.officialInvoiceNo}}</td>
              <td>{{item.invoiceTotal}}</td>
              <td>{{item.balanceAmount}}</td>
              <td>{{item.invoiceDate}}</td>
              <td>{{item.daysOld}}</td>
              <td><mat-select [style.background]="item.stageColour" style="min-width: 120px;" [(value)]="item.Status"
                (selectionChange)="changeStatus($event.value)" placeholder="--Select Stage --" class='form-control'>
                <ng-container *ngFor='let option of statusOptions'>
                  <mat-option [style.background]="option.colorCode" class='option' [value]="option.value"
                    (click)="openProject(null)">
                    {{option.name}}</mat-option>
                </ng-container>
              </mat-select></td>
              <td>{{item.activityDate}}</td>
              <td>{{item.sentTo}}</td>
              <td>{{item.sendDate}}</td>
              <td>{{item.sentBy}}</td>
              <td>{{item.createdDate}}</td>
              <td class="text-center">
                <a style="cursor: pointer;margin-right:0px; " matTooltip="Update Invoice"
                  (click)="AddContract1(item)">
                  <i class="fa fa-edit" style="color: cornflowerblue;font-size:18px"></i>
                </a>
                <a class="anchor" matTooltip="Add Notes"
                  (click)="AddProjectNotes()" style=" margin-left:0px">
                  <mat-icon style="cursor: pointer;color: #45c136f7;font-size: 20px;vertical-align: middle;">rate_review
                  </mat-icon>
                </a>
                <a><i class="fa fa-trash red" matTooltip="Delete Invoice"
                    style="cursor: pointer;font-size:18px;margin-left:0px" ></i></a>
  
              </td>
          </tr>
          
      </tbody>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>


</div>

