<div id="divView"></div>
<div>
    <div class="col-sm-12">
        <p class="col-sm-12" style="padding-left: 0px;">
            <span style="font-size: 18px; font-weight: bold; margin-right: 8px" >Preview Submission Revise</span>
        </p>
        <table id="example2" class="margin-top-20 table table-bordered table-hover">
            <thead>
              <tr>
                <th colspan="9" style="font-weight: bold;font-size: 25px;text-align: center !important;">OM Constructions, Option Matrix, Hyderabad, Telangana, GSTN: 36AABCL2283L1ZB
                </th>  
             </tr>
            
             <tr>
              <th  class="text-center"  >Sl. No.</th>  
              <th class="text-center" colspan="8">Particulars</th>  
            </tr>


             
             
             <tr>
              <td class="text-center">1</td>  
              <td  colspan="3">Name & Full Address of the Supplier	</td>  
              <td colspan="5">Usha International Ltd, Uptown Cyberabad, Ayyapa Society, 100 feet Road, Hyderabad, 500086
              </td>
             </tr>

             <tr>
              <td   class="text-center">2</td>  
              <td colspan="3">Contact Details		</td>  
              <td colspan="5" >8686462296	</td>
             </tr>
  
             <tr>
              <td    class="text-center" >3</td>  
              <td  colspan="3">Place of dispatch of Materials	</td>  
              <td colspan="5">Hyderabad</td>
             </tr>
             
             <tr>
              <td class="text-center" >4</td>  
              <td  colspan="3"  >GSTIN of the Supplier	</td>  
              <td colspan="5">GST345345345345
              </td>
              
             </tr>
             
             <tr>
              <td class="text-center" >5</td>  
              <td  colspan="3" >State (Name) of the Supplier	</td>  
              <td colspan="5">Telangana
              </td>
            </tr>

            <tr>
              <td  class="text-center" >6</td>  
              <td colspan="3">Place of dispatch of Materials	</td>  
              <td colspan="5">Hyderabad</td>
            </tr>

            <tr>
              <td    class="text-center add-member-label" style="background-color: #DCDCDC;" >SI No.</td>  
              <td    class="text-center add-member-label" style="background-color: #DCDCDC;" >Invoice No.</td>  
              <td    class="text-center add-member-label" style="background-color: #DCDCDC;"  >Invoice Date </td>  
              <td    class="text-center add-member-label" style="background-color: #DCDCDC;" >Taxable Value
                as per Invoice</td>  
              <td    class="text-center add-member-label" style="background-color: #DCDCDC;"  >	GST Value as
                per Invoice</td>  
              <td    class="text-center add-member-label" style="background-color: #DCDCDC;" >Invoice Value	</td>  
              <td    class="text-center add-member-label" style="background-color: #DCDCDC;" >Purchase Order No.	</td>  
              <td    class="text-center add-member-label" style="background-color: #DCDCDC;" >GSTIN</td>  
              <td    class="text-center add-member-label" style="background-color: #DCDCDC;" >Actions</td>  

             </tr>

            <tr>
              <td    class="text-center" >1</td>  
              
              <td    class="text-center " >
              <input  style="background-color: #DCDCDC;" type="text" value="INB-000000">
              </td>  
              
              
              <td    class="text-center " >
                <input  style="background-color: #DCDCDC;" type="text" value="01-Apr-2020">
              </td>  
              <td    class="text-center " >
                <input  style="background-color: #DCDCDC;" type="text" value="32,460.00">
              </td>  
              <td    class="text-center " >
                <input  style="background-color: #DCDCDC;" type="text" value="5,385.30">
              </td>  
              <td    class="text-center " >
                <input  style="background-color: #DCDCDC;" type="text" value="37,845.30">
              </td>  

              <td    class="text-center " >
                <div class="form-group ">
                  
                  <div >
                    <mat-select class="form-control" placeholder="Select"  style="background-color: #DCDCDC;" >
                      <mat-option [value]="0">OM/BHL/JAN/18-19/1018/REV5</mat-option>
                      <mat-option [value]="0">OM/BHL/JAN/18-19/1018/REV8</mat-option>
                      <mat-option [value]="1">OM/BHL/JAN/18-19/1018/REV9</mat-option>
                    </mat-select>
                  </div>
                </div>
              </td>  

              <td    class="text-center"  >
               <div class="form-group ">
                  
                  <div >
                    <mat-select class="form-control" placeholder="Select"  style="background-color: #DCDCDC;" >
                      <mat-option [value]="0">GST3453453453</mat-option>
                      <mat-option [value]="0">Approved</mat-option>
                      <mat-option [value]="1">Declined</mat-option>
                    </mat-select>
                  </div>
                </div>
              </td>   
              <td class="text-center editDel">
                <a style="cursor: pointer;margin-right:10px; " matTooltip="Update Item">
                  <i class="fa fa-edit" style="color: cornflowerblue"></i>
                </a>

                <a><i class="fa fa-trash red" matTooltip="Delete Item" style="cursor: pointer;"></i></a>
              </td>

             </tr>

            </thead>
        </table>
    </div>

<!--     
    
    <div  class="col-sm-12">
      <h4>Dear Sir, This OM/BHL/OCT/19-20/1077 is released for the below mentioned items and are to be delivered as per committed date 11-Aug-2021</h4>
    </div>

    <div class="col-sm-12">
     
      <table id="example2" class="margin-top-20 table table-bordered table-hover" style="overflow-x:scroll !important">
          <thead>
           <tr>
            <th rowspan="2" class="text-center" >Sl. No.</th>  
            <th rowspan="2" class="text-center"  >Part No.	</th>  
            <th rowspan="2" class="text-center" >Part Name</th>  
            <th rowspan="2" class="text-center" >Make</th>
            <th rowspan="2" class="text-center" >HSN</th>  
            <th rowspan="2" class="text-center" >Qty</th>  
            <th rowspan="2" class="text-center" >UOM</th>  
            <th rowspan="2" class="text-center" >Unit Price</th>
            <th rowspan="2" class="text-center" >Disc. (%)</th>  
            <th rowspan="2" class="text-center" >Disc. Unit Price</th>  
            <th rowspan="2" class="text-center" >Taxable Value</th>  
            <th colspan="2" class="text-center" >CGST</th>
            <th colspan="2" class="text-center" >SGST</th>  
            <th  rowspan="2" class="text-center" >Total</th>  
            <th  rowspan="2" class="text-center" >Action</th>
           </tr>
           <tr>
            <th class="text-center" >Rate (%)</th>  
            <th class="text-center">Amount</th>  
            <th class="text-center">Rate (%)</th>  
            <th class="text-center">Amount</th>
           </tr>
           <tr>
            <td class="text-center">1</td>  
            <td class="text-center">EAS10001A / EAS10001</td>  
            <td class="text-center">2ND LEAF - 257931</td>  
            <td class="text-center">Other Make</td>  
            <td class="text-center">10000</td>  
            <td class="text-center">70</td>  
            <td class="text-center">No.</td>  
            <td class="text-center">1000.00</td>  
            <td class="text-center">10</td>  
            <td class="text-center">900.00	</td> 
            <td class="text-center">63000.00</td>  
            <td class="text-center">9	</td>  
            <td class="text-center">5670.00</td>  
            <td class="text-center">9</td>  
            <td class="text-center">5670.00	</td>  
            <td class="text-center" style="font-weight: bold;" >74340.00</td>  
            <td class="text-center editDel">
              <a style="cursor: pointer;margin-right:10px; " matTooltip="Update Item">
                <i class="fa fa-edit" style="color: cornflowerblue"></i>
              </a>
              <a><i class="fa fa-trash red" matTooltip="Delete Item" style="cursor: pointer;"></i></a>
            </td>
           </tr>
           <tr>
            <td class="text-center">2</td>  
            <td class="text-center">EAS10002</td>  
            <td class="text-center">A/C FITER	</td>  
            <td class="text-center">Cat</td>  
            <td class="text-center">100032	</td>  
            <td class="text-center">50</td>  
            <td class="text-center">No.</td>  
            <td class="text-center">1100.00</td>  
            <td class="text-center">10</td>  
            <td class="text-center">990.00</td>  
            <td class="text-center">49500.00</td>  
            <td class="text-center">9</td>  
            <td class="text-center">4455.00</td>  
            <td class="text-center">9</td>  
            <td class="text-center">4455.00</td>  
            <td class="text-center"  style="font-weight: bold;" >58410.00</td>  
            <td class="text-center editDel">
              <a style="cursor: pointer;margin-right:10px; " matTooltip="Update Item">
                <i class="fa fa-edit" style="color: cornflowerblue"></i>
              </a>
              <a><i class="fa fa-trash red" matTooltip="Delete Item" style="cursor: pointer;"></i></a>
            </td>
           </tr>
           <tr>
            <td class="text-center">3</td>  
            <td class="text-center">EAS10002</td>  
            <td class="text-center">A/C FITER</td>  
            <td class="text-center">Other Make</td>  
            <td class="text-center">100032</td>  
            <td class="text-center">30</td>  
            <td class="text-center">No.</td>  
            <td class="text-center">1200.00</td>  
            <td class="text-center">10</td>  
            <td class="text-center">1080.00</td>  
            <td class="text-center">32400.00</td>  
            <td class="text-center">9</td>  
            <td class="text-center">2916.00</td>  
            <td class="text-center">9</td>  
            <td class="text-center">2916.00</td>  
            <td class="text-center"  style="font-weight: bold;" >38232.00</td>  
            <td class="text-center editDel">
              <a style="cursor: pointer;margin-right:10px; " matTooltip="Update Item">
                <i class="fa fa-edit" style="color: cornflowerblue"></i>
              </a>
              <a><i class="fa fa-trash red" matTooltip="Delete Item" style="cursor: pointer;"></i></a>
            </td>
           </tr>
           <tr>
            <td class="text-center">4</td>  
            <td class="text-center">EAS10003</td>  
            <td class="text-center">AIR FILTER ASSY</td>  
            <td class="text-center">Tata Hitachi</td>  
            <td class="text-center">10001</td>  
            <td class="text-center">30</td>  
            <td class="text-center">No.</td>  
            <td class="text-center">3000.00</td>  
            <td class="text-center">0</td>  
            <td class="text-center">3000.00	</td>  
            <td class="text-center">90000.00</td>  
            <td class="text-center">9</td>  
            <td class="text-center">8100.00</td>  
            <td class="text-center">9</td>  
            <td class="text-center">8100.00</td>  
            <td class="text-center"  style="font-weight: bold;" >106200.00</td>  
            <td class="text-center editDel">
              <a style="cursor: pointer;margin-right:10px; " matTooltip="Update Item">
                <i class="fa fa-edit" style="color: cornflowerblue"></i>
              </a>
              <a><i class="fa fa-trash red" matTooltip="Delete Item" style="cursor: pointer;"></i></a>
            </td>
           </tr>
           <tr>
            <td class="text-center">5</td>  
            <td class="text-center">EAS10004:</td>  
            <td class="text-center">AIR FILTER PRIMARY ELEMENT</td>  
            <td class="text-center">Komatsu</td>  
            <td class="text-center">10002</td>  
            <td class="text-center">60</td>  
            <td class="text-center">No.</td>  
            <td class="text-center">3100.00</td>  
            <td class="text-center">0</td>  
            <td class="text-center">3100.00</td>  
            <td class="text-center">186000.00</td>  
            <td class="text-center">9</td>  
            <td class="text-center">16740.00</td>  
            <td class="text-center">9</td>  
            <td class="text-center">16740.00</td>  
            <td class="text-center"  style="font-weight: bold;" >219480.00</td>  
            <td class="text-center editDel">
              <a style="cursor: pointer;margin-right:10px; " matTooltip="Update Item">
                <i class="fa fa-edit" style="color: cornflowerblue"></i>
              </a>
              <a><i class="fa fa-trash red" matTooltip="Delete Item" style="cursor: pointer;"></i></a>
            </td>
           </tr>
           <tr>
             
            <td  style="font-weight: bold; text-align: right !important;" colspan="5" >Total:</td>  
            <td class="text-center" style="font-weight: bold;" >240</td>  
            <td class="text-center"></td>  
            <td class="text-center"></td>  
            <td class="text-center"></td>  
            <td class="text-center"></td>  
            <td class="text-center" style="font-weight: bold;">420900.00	</td>  
            <td class="text-center"></td>  
            <td class="text-center" style="font-weight: bold;">37881.00</td>  
            <td class="text-center"></td>  
            <td class="text-center" style="font-weight: bold;">37881.00	</td>  
             
            <td class="text-center"  style="font-weight: bold;" >496662.00</td>  
            <td class="text-center"></td>  
           </tr>
           <tr>
            <td class="text-center" colspan="10"></td> 
            <td class="text-center" colspan="5" style="font-weight: bold; text-align: right !important;" >Total Amount (Excluding GST)</td>  
            <td class="text-center">420900.00	</td>  
            <td class="text-center"></td>   
           </tr>
           <tr>
            <td class="text-center" colspan="10"></td> 
            <td class="text-center" colspan="5" style="font-weight: bold; text-align: right !important;" >Add: CGST</td>  
            <td class="text-center">37881.00	</td>  
            <td class="text-center"></td>   
           </tr>
           <tr>
            <td class="text-center" colspan="10"></td> 
            <td class="text-center" colspan="5" style="font-weight: bold; text-align: right !important;" >Add: SGST</td>  
            <td class="text-center">37881.00</td>  
            <td class="text-center"></td>   
           </tr>
           <tr>
            <td class="text-center" colspan="10"></td> 
            <td class="text-center" colspan="5" style="font-weight: bold; text-align: right !important;" >Total GST Amount Payable</td>  
            <td class="text-center">75762.00</td>  
            <td class="text-center"></td>   
           </tr>
           <tr>
            <td class="text-center" colspan="10">Total Amount in Words: Four Lakh Ninety Six Thousand Six Hundred and Sixty Two Rupees Only</td> 
            <td class="text-center" colspan="5" style="font-weight: bold; text-align: right !important;" >Grand Total (Including GST)</td>  
            <td class="text-center">496662</td>  
            <td class="text-center"></td>   
           </tr>
          </thead>
      </table>
  </div>
  <div class="col-sm-12"> 
     <h4>Terms and Conditions:</h4>
     <div>
      <label>1.</label>
      <span>&nbsp;
       Trial Period will be for 10 Month(s) or 25 Kms or 24 Hrs of operation
      </span>
     </div>
     <div>
      <label>2.</label>
      <span>&nbsp;
        Cost per Hour/per Km mentioned above are based on landed cost at our campsite at ₹ 2,000
      </span>
     </div>
     <div>
      <label>3.</label>
      <span>&nbsp;
        Cost per Hour/per Km for the brand of this parts we currently use is ₹ 1,000
      </span>
     </div>
     <div>
      <label>4.</label>
      <span>&nbsp;
        Special Terms: Turnover Discount” type and user continues to stay on same screen/page. However the record would get logged in the main grid. >>Pending >> Getting below toaster although valid information is selected
      </span>
     </div>
     <div>
      <label>5.</label>
      <span>&nbsp;
        Delivery Address: Option Matrix Infotech, Khadia Project, C/o NCL Khadia OCP, Shakti Nagar, Dist. Sonebhadra, Uttar Pradesh - 231222
      </span>
     </div>
     <div>
      <label>6.</label>
      <span>&nbsp;
        Delivery Address: Option Matrix Infotech, Krishnalshila Project, C/o NCL Krishnashila OCP, Dist. Sonebhadra, Uttar Pradesh - 231222
      </span>
     </div>
     <div>
      <label>7.</label>
      <span>&nbsp;
        Delivery Address: Option Matrix Infotech, Block - B Gorbi Project, C/o NCL Gorbi OCP, Dist. Singrauli, Madhaya Pradesh - 486889
      </span>
     </div>
     <div>
      <label>8.</label>
      <span>&nbsp;
        Delivery Address (Additional Terms): Turnover Discount” type and user continues to stay on same screen/page. However the record would get logged in the main grid. >>Pending >> Getting below toaster although valid information is selected
      </span>
     </div>
     <br>
     <br>  
     <br> 
     <p>For M/S OM Mining,</p>
     <label style="font-size: 20px;">Authorized Signatory</label>
     <br>
     <br>  
     <br> 
     <label style="font-size: 20px;">Project Manager</label><br>
     <label style="font-size: 20px;">Option Matrix</label>
     <div>
      <button type="button" class="btn btn-success" >Print</button>
     </div>
     <br>
     <br>  
     <br> 
  </div>
    
    

















 -->


<!-- <div>
  <button type="button" class="btn btn-success" routerLink="Active"  routerLink="/purchase/PublishPurchaseorderRevise/TermsConditionsRevise">Previous</button>
</div> -->
