<div class="w-100">
  <div class="flex-p">
      <div class="row wrap">
          <div class="col-sm-12 no-padding">
              <p class="col-sm-12" style="margin-top: 20px !important;">
                  <span style="font-size: 18px;font-weight: bold; margin-right: 8px">Project Info:</span>
                  <span style="font-size: 16px; margin-right: 50px">R-025012 </span>
                  <span style="font-size: 18px;font-weight: bold; margin-right: 8px">Client Name:</span>
                  <span style="font-size: 16px; margin-right: 50px">Robert </span>
                  <span style="font-size: 18px;font-weight: bold; margin-right: 8px">Project
                      Status:</span>
                  <span style="font-size: 16px; margin-right: 8px;margin-top: 2px;"> Active</span>

              </p>
              <div class="row super-row" style="padding: 5px 24px 10px 23px">

                  <a routerLinkActive="active-link" routerLink="project-procurement" class="col-sm font-color">Procurement
                      <br /></a>
                  <a routerLinkActive="active-link" routerLink="project-inventorycontrol" class="col-sm font-color">Inventory Control
                      <br /> </a>
                  <a routerLinkActive="active-link" routerLink="project-servicecontracts" class="col-sm font-color">Service contracts
                      <br /> </a>

                  <!-- <a routerLinkActive="active-link" routerLink="project-wbs" class="col-sm font-color">WBS
                      <br /> </a>
                  <a routerLinkActive="active-link" routerLink="project-gantt" class="col-sm font-color pt-3 pb-3">Gantt Chart
                      <br /> </a>
                  <a routerLinkActive="active-link" routerLink="project-contracts" class="col-sm font-color">Contracts
                  </a>
                  <a routerLinkActive="active-link" routerLink="project-scheduling"
                      class="col-sm font-color">Scheduling
                      <br /></a>
                  <a routerLinkActive="active-link" routerLink="project-manage" class="col-sm font-color">Activity
                      <br /></a>
                  <a routerLinkActive="active-link" routerLink="project-updates" class="col-sm font-color">Updates
                      <br /></a>
                  <a routerLinkActive="active-link" routerLink="project-hours" class="col-sm font-color">Hours
                      <br /></a>
                  <a routerLinkActive="active-link" routerLink="project-expenses" class="col-sm font-color">Expenses
                      <br /></a>
                  <a routerLinkActive="active-link" routerLink="project-requisition"
                      class="col-sm font-color">Requisitions
                      <br /></a>
                  <a routerLinkActive="active-link" routerLink="project-issues" class="col-sm font-color">Issues
                      <br /></a>
                  <a routerLinkActive="active-link" routerLink="project-summary"
                      class="col-sm font-color pt-3 pb-3">Summary Report
                  </a>
                  <a routerLinkActive="active-link" routerLink="project-activity" class="col-sm font-color">Task Log
                      <br /> </a>
                  <a routerLinkActive="active-link" routerLink="project-document" class="col-sm font-color">Docs
                      <br /></a> -->


              </div>
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>