<div class="NewHeader" style="background-color:#286ba5 !important; height: 50px;">
  <h1 mat-dialog-title>
    Approval By Stage - OM/REQ/SPA-JAN-19/1011
  </h1>
</div>
<div fxLayout="row wrap" #resizedDiv>
    <div class="flex-p w-100 sizeAlign">
      <div class="row">
        <div class="col-xs-12">
          <div id="grid-table-container" class="table-responsive">
            <table matSort id="example2" class="table table-bordered table-hover">
              <thead class="tbl-head">
                <tr>
                  <th class="text-center">Date&Time</th>
                  <th class="text-center">Stage</th>
                  <th class="text-center">Status</th>
                  <th class="text-center">User</th>
                  <th class="text-center" style="width: 100px!important;">Remarks</th>
                  <th class="text-center" >Download Doc</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of items">
                  <td class="text-center">{{item.date }}</td>
                  <td class="text-center">{{item.stage }}</td>
                  <td class="text-center">{{item.status }}</td>
                  <td class="text-center">{{item.user}}</td>
                  <td class="text-center">{{item.remarks}}</td>
                  <td class="text-center" matTooltip="Download Doc" style="color: blue; cursor: pointer;"><i class="fa fa-download" aria-hidden="true" style="color: blue; cursor: pointer;"></i>{{item.doc}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <mat-dialog-actions align="end">
    <button mat-raised-button class="btn-primary" (click)="close()"><mat-icon>send</mat-icon><span >Save</span></button>
    <button mat-raised-button class="add-dark-hover btn-default" (click)="close()"><mat-icon>cancel</mat-icon> Close</button>
  </mat-dialog-actions>
