<!-- <div class="w-100">
  <div class="flex-p">
      <div class="row wrap">
          <div class="col-sm-12 no-padding">
              <div class="row-wrap">
                  <div class="w-100">
                      <div class="row">
                          <div class="col-xs-12" style="margin-bottom: 15px;">
                              <div class="pills">
                                  <ul class="nav nav-pills" style="margin-left: 10px;margin-bottom: -35px;">
                                    <li routerLinkActive="active" routerLink="/purchase/inventory-management/stock-transfers/stocktransferorder/requests">
                                      <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                      Requests
                                      </a>
                                    </li>
                                    <li routerLinkActive="active" routerLink="/purchase/inventory-management/stock-transfers/stocktransferorder/technicalhead">
                                      <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                      Technical Head
                                      </a>
                                    </li>
                                             
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> -->
<router-outlet></router-outlet>