<h1 mat-dialog-title class="custom-header"
  style="background-color:#286ba5 !important;height:50px;font-weight: bold !important;">Requisition Details</h1>
<div class="container-fluid">
  <div fxLayout="row wrap" #resizedDiv>
    <div class="flex-p w-100 sizeAlign">
      <!-- <div class="row" style="margin-bottom:23px;"> <div class="col-sm-12"> <button mat-raised-button class="pull-right  btn-default margin-right-10" routerLink="/purchase/material-management/requisition"> <mat-icon>chevron_left</mat-icon> Back </button> <button mat-raised-button class="pull-right  btn-primary margin-right-10" (click)="openGridColumnsDialog()"> <mat-icon>grid_on</mat-icon> Grid Columns </button> <button mat-raised-button class="pull-right  btn-primary margin-right-10" (click)="addnewitem(null)"> <mat-icon>add</mat-icon> Add New Item </button> </div> </div> -->
      <div class="row">
        <div class="col-xs-12" style="overflow-x: auto">
          <div id="grid-table-container" class="table-responsive">
            <table matSort id="example2" class="table table-bordered table-hover" style="margin-left: 0px!important;">
              <thead class="tbl-head">
                <tr>
                  <!-- <th style="width: 200px;" class="text-center">Requisition Ref</th> -->
                  <th style="width: 200px;" class="text-center">Job Name</th>
                  <th style="width: 200px;" class="text-center">Job Code</th>
                  <th class="text-center">Qty</th>
                  <!-- <th class="text-left">Item Name</th> <th class="text-center" >Item Code</th> -->
                  <th class="text-center">Hours</th>
                  <th class="text-center  ">Rate($/hrs)</th>
                  <th class="text-center">Amount</th>
                </tr>
                
      
              
              </thead>
              <tbody>

                
<tr *ngFor="let item of items">
  <td style="width: 200px;" class="text-left">{{item.Labour}}</td>
  <td style="width: 200px;" class="text-left" class="text-center">{{item.JobCode}}</td>
  <td style="width: 200px;" class="text-left" class="text-center">{{item.Qty}}</td>
  <td style="width: 200px;" class="text-left" class="text-center">{{item.Hours}}</td>
  <!-- <td class="text-left">{{item.ItemName}}</td> <td class="text-center">{{item.ItemCode}}</td> -->
  <td style="width: 180px;" class="text-center">{{item.Rate}}</td>
  
  <td  class="text-center">{{item.Amount}}</td>

  <!-- <td>Total</td> -->
  <!-- <td  class="text-center">Total</td> -->
</tr>
<tr>
  <td colspan="5" class="text-right">Total </td>
  <td class="text-center" >2000</td>

</tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <mat-dialog-actions align="end" class="pull-right" style="margin-top: 5px;"> <button mat-raised-button type="button"
        class="add-dark-hover btn-default pull-right" (click)="close()">
        <mat-icon>cancel</mat-icon>&nbsp;Close
      </button> </mat-dialog-actions>
  </div>