.linkIcons {
    border: 1px solid rgb(70, 175, 215);
    padding: 1px 3px;
    background-color: rgb(70, 175, 215);
    color: white;
    font-weight: bolder;
}
.circle img{
    height:30px;
    width:30px
}