<div class="" style="padding-top: 0px !important;">
    <div class="row wrap">
        <div class="col-xs-12" style="margin-top: 15px;margin-bottom:10px">

            <button mat-raised-button *ngIf="!displayDashboard" class="margin-right-10"
                style="color:white; background:#3b7bb8;margin-left:10px" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-raised-button *ngIf="!displayDashboard" (click)="openSiteDailog()"
                class="btn-primary margin-right-10">
                <mat-icon>add</mat-icon> Add Site
            </button>

            <button mat-raised-button *ngIf="!displayDashboard" (click)="openAddContractDialog()"
                class="btn-primary margin-right-10">
                <mat-icon>add</mat-icon> Add SOW
            </button>

            <button mat-raised-button *ngIf="!displayDashboard" (click)="openTaskDailog()"
                class="btn-primary margin-right-10">
                <mat-icon>add</mat-icon> Add Task
            </button>

            <button class="btn-primary margin-right-10" mat-raised-button *ngIf="!displayDashboard"
                style="color:white; background:#3b7bb8 !important;" (click)="openEditSite()">
                Manage Sites
            </button>

            <button mat-raised-button *ngIf="displayDashboard" class="btn-primary margin-right-10 pull-right"
                (click)="changeDisplay()">
                <mat-icon><span class="material-icons-outlined">
                        assignment
                    </span></mat-icon> Setup
            </button>

            <button mat-raised-button *ngIf="!displayDashboard" class="btn-primary margin-right-10 pull-right"
                (click)="changeDisplay()">
                <mat-icon><span class="material-icons-outlined">
                        dashboard
                    </span></mat-icon> Dashboard
            </button>

            <a class="margin-right-10 pull-right" mat-raised-button style="color:white; background:#7b767c;"
                href="../../../../assets/data/Excel sheet.xlsx">
                <mat-icon>table_view</mat-icon>&nbsp;Worksheet
            </a>


        </div>
    </div>
</div>

<div *ngIf="!displayDashboard" class="w-100">

    <mat-drawer-container class="custom-sidenav" hasBackdrop="false" class="margin-top-10">
        <mat-drawer #drawer mode="side" opened="true">
            <div class="col-sm-12" style="margin-left:-4px;">

                <p-tree [value]="files" class="ptreecustom" selectionMode="single" class="ptreecustom"
                    selectionMode="single"></p-tree>
                <!-- </mat-card> -->
            </div>
        </mat-drawer>
        <mat-drawer-content>
            <div class="col-sm-12" style="margin-left:61px">
                <mat-card class="col-sm-12" style="background-color: #dbe8f3 !important;width:1138px">
                    <div class="col-sm-5">
                        <div class="col-sm-6">
                            <label>Site:</label>
                            <span>&nbsp;&nbsp;Sipcot Industrial Park</span>
                        </div>
                        <div class="col-sm-6">
                            <label>SOW:</label>
                            <span>&nbsp;&nbsp; A. SRPR</span>
                        </div>
                    </div>
                    <div class="col-sm-7">

                        <div class="col-sm-4">
                            <label>Budget:</label>
                            <span>&nbsp;&nbsp;
                                47Hrs ($6,845.70)</span>
                        </div>

                        <div class="col-sm-4">
                            <label>Planned:</label>
                            <span>&nbsp;&nbsp;
                                11.50Hrs ($1,075.00)</span>
                        </div>
                        <div class="col-sm-3 no-padding">
                            <label>Actual:</label>
                            <span>&nbsp;&nbsp;0.00Hrs
                                </span>
                        </div>
                        <div class="col-sm-1 no-padding">
                            <mat-icon class="pull-right" style="cursor:pointer;color: #2da3ff;"
                                (click)="openEditMatDialog()">
                                edit</mat-icon>
                        </div>
                    </div>
                    <div class="col-sm-5 margin-top-10">
                        <div class="col-sm-6">
                            <label>Quoted Total:</label>
                            <span>&nbsp;&nbsp;$6,846.00</span>
                        </div>
                        <div class="col-sm-6">
                            <label>Project Type:</label>
                            <span>&nbsp;&nbsp;Engineering</span>
                        </div>

                    </div>
                    <div class="col-sm-7 margin-top-10">
                        <div class="col-sm-4">
                            <label>Status:</label>
                            <span>&nbsp;&nbsp;Open</span>
                        </div>
                        <div class="col-sm-4">
                            <label>Is Awarded:</label>
                            <span>&nbsp;&nbsp;Awarded</span>
                        </div>
                        <div class="col-sm-4 no-padding">
                            <label class="">Fee Structure:</label>
                            <span>&nbsp;&nbsp;Fixed Rate</span>
                        </div>
                    </div>
                </mat-card>
                <mat-card class="col-sm-12 margin-top-10" style="width: 1147px;">
                    <div class="w-100">
                        <div class="row">
                            <div class="col-sm-12"
                                style="padding: 15px !important; margin-top: 10px;margin-bottom: 20px;">
                                <div class="col-sm-12" style="padding: 0px !important; margin-top: 10px;">
                                    <p-accordion class="customAccordian" (onClose)="onTabClose($event)"
                                        (onOpen)="onTabOpen($event)">
                                        <p-accordionTab *ngFor="let item of taskData" [selected]="item.selected">
                                            <p-header class="col-sm-11 pull-right" style="padding-left: 0px;">
                                                <div class="col-sm-3">
                                                    <label>Task:</label>
                                                    <span>&nbsp;
                                                        {{item.taskName}}
                                                    </span>
                                                </div>


                                                <div class="col-sm-3">

                                                    <label>Budget Hours:</label>
                                                    <span>&nbsp;
                                                        12Hrs($0.00)
                                                    </span>
                                                </div>
                                                <div class="col-sm-3">

                                                    <label>Budget Amount:</label>
                                                    <span>&nbsp; {{'800' | currency}}</span>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div *ngIf="item.selected" class="row no-padding "
                                                        style="margin-top: -0.2em;">
                                                        <button
                                                            (click)="$event.stopPropagation();addJobCodeCustom(item.taskId);"
                                                            mat-raised-button matTooltip="Click to Add New Action"
                                                            class="pull-right"
                                                            style="height: 26px;margin-right: 10px;margin-left: auto;">
                                                            <span class="accordian-add-span">Add</span>
                                                        </button>
                                                        <button mat-raised-button matTooltip="Click to Add New Action"
                                                            class="pull-right" style="height: 26px;margin-right: 10px;">
                                                            <span class="accordian-add-span"
                                                                (click)="openTaskDailog()">Edit</span>
                                                        </button>

                                                    </div>

                                                </div>

                                            </p-header>
                                            <div class="table-responsive" id="{{item.id}}">
                                                <table id="example2"
                                                    class="table table-bordered table-striped table-hover no-padding"
                                                    style="margin-bottom: 10px !important">
                                                    <thead>
                                                        <tr _ngcontent-c21="" class="custom-thead-budget">
                                                            <th _ngcontent-c21="" style="min-width: 300px;">Action</th>
                                                            <th _ngcontent-c21="" style="min-width: 300px;">Job Code
                                                                (Title)</th>
                                                            <th _ngcontent-c21="" class="text-center"
                                                                style="min-width: 100px;">Rate</th>
                                                            <th _ngcontent-c21="">Planned</th>
                                                            <th _ngcontent-c21="" class="text-center"
                                                                style="min-width: 100px;">Budget</th>
                                                            <th _ngcontent-c21="" class="text-center"
                                                                style="min-width: 80px;">Delete</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngIf="item.Data?.length == 0">

                                                            <td style="text-align: center;" colspan="7">
                                                                No records Found
                                                            </td>
                                                        </tr>
                                                        <tr *ngFor="let tData of item.Data; let i = index">
                                                            <td> <input type="number" value="tData.notes"
                                                                    class="form-control" placeholder="Enter Action">
                                                            </td>
                                                            <td>
                                                                <mat-select class="form-control" placeholder="Job Code"
                                                                    (selectionChange)="jobCodeChange($event.value, item.id, tData.id)">
                                                                    <mat-option *ngFor="let item of jobcode"
                                                                        [value]="item.rate">
                                                                        {{item.jobcode}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </td>
                                                            <td class="text-center" style="vertical-align: middle">
                                                                {{tData.rate | currency}} </td>
                                                            <td> <input type="number" [(ngModel)]="tData.quantity"
                                                                    (ngModelChange)="getQuantityValue(tData.quantity, item.id, tData.id)"
                                                                    class="form-control"
                                                                    placeholder="Enter Planned Hours">
                                                            </td>
                                                            <td class="text-center" style="vertical-align: middle">
                                                                {{tData.total | currency}}</td>
                                                            <td class="text-center" style="vertical-align: middle">
                                                                <a class="delete-job-code" matTooltip="Delete Entry">
                                                                    <i class="fa fa-trash"></i>
                                                                </a>
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </p-accordionTab>
                                        <p-accordionTab>
                                            <p-header>
                                                <label class="margin-left-7">Expenses</label>
                                            </p-header>
                                            <table id="example2" class="table table-bordered table-striped table-hover">
                                                <thead>
                                                    <tr style="background: #586958 !important; color:#fff !important;">
                                                        <th>
                                                            Item
                                                        </th>
                                                        <th class="text-center">
                                                            Rate
                                                        </th>
                                                        <th style="width: 150px !important">
                                                            Quantity
                                                        </th>
                                                        <th class="text-center">
                                                            Totals
                                                        </th>
                                                        <th class="text-center">
                                                            Budget Fee
                                                        </th>

                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </p-accordionTab>

                                    </p-accordion>
                                </div>
                            </div>
                        </div>
                        <div class="flex-p">
                        </div>
                    </div>
                </mat-card>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>

</div>


<div *ngIf="displayDashboard" class="col-sm-12 w-100">

    <div class="row col-12 mt-5">

        <div class="col-6">
            <div style="margin-left: 2%">
                <div class="chart-header">
                    <p style="font-size: 17px">Billing Distribution</p>
                </div>
                <div class="flex-p">
                    <mat-card>
                        <div class="w-100 h-300p">
                            <ngx-charts-pie-chart [scheme]="colorScheme" [results]="single" [legend]="showLegend"
                                [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut"
                                [gradient]="gradient">
                            </ngx-charts-pie-chart>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div style="margin-left: 2%">
                <div class="chart-header">
                    <p style="font-size: 17px">Completion trend in last 6 months</p>
                </div>
                <div style="display: block">
                    <div style="height: 335px" [chart]="disciplineChartMonthly"></div>
                </div>
                <div align="center">
                    <p>
                        <span><i class="fa fa-stop" style="color: rgb(33, 101, 192)"></i>Completed</span>
                    </p>
                </div>
            </div>
        </div>

    </div>


    <div class="row my-5">
        <div class="col-xs-12">
            <div id="grid-table-container" class="table-responsive">
                <table matSort id="example2" class="table table-bordered table-hover">
                    <thead class="tbl-head">
                        <tr>
                            <th>Site</th>
                            <th>Contract #</th>
                            <th>Contractor</th>
                            <th class="text-center">Tasks</th>
                            <th>Budget</th>
                            <th>Claimed</th>
                            <th>Invoiced</th>
                            <th>Paid</th>
                            <th>Completion</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items"
                            [ngStyle]="{'font-weight':item.site === 'Total' ? 'bolder' : '' }">

                            <td>{{item.site }}</td>
                            <td>{{item.contract }}</td>
                            <td>{{item.contractor }}</td>
                            <td class="text-center"><a style="cursor: pointer; color: blue;">{{item.tasks }}</a></td>
                            <td>{{item.budget }}</td>
                            <td>{{item.claimed }}</td>
                            <td>{{item.invoiced }}</td>
                            <td>{{item.paid }}</td>
                            <td>{{item.completion }}</td>
                            <td class="text-center">Active</td>
                            <td class="text-center editDel">
                                <a style="cursor: pointer;margin-right:10px;" matTooltip="Update Project">
                                    <i class="fa fa-edit" (click)="editBudget()" style="color: blue"></i>
                                </a>
                                <a><i class="fa fa-trash red" matTooltip="Delete Project"
                                        style="cursor: pointer;"></i></a>
                            </td>

                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>