<div class="NewHeader">
  <h1 mat-dialog-title>
  <i class="fa fa-times" aria-hidden="true" style="float: right !important;margin: 0 10px 0px 0;font-size: 17px;    cursor: pointer;" (click)="close()"></i>
      <span>Configure POEmail Users - Backhole Loader Store</span>
  </h1>
</div>

<div class="row" style="margin-top:20px">
  <div class="col-sm-12" style="margin-left:10px" style="overflow: hidden;">
      <div id="grid-table-container" class="table-responsive" >
          <table id="example2" class="table table-bordered table-hover" >
              <thead class="tbl-head">
                  <tr>
                      <th >Select</th>
                      <th >User Name</th>
                      <th >Role</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of values">

                      <td><input type="checkbox"></td>

                      <td >{{item.name}}</td>

                      <td >{{item.role}}</td>
                     
                  </tr>
              </tbody>
          </table>
          <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
      </div>
  </div>
</div>
