<!-- 
<span>
  L.R / Bilty / R.R / Docket No.:
<input type="text" placeholder="Enter L.R / Bilty / R.R / Docket No.:">
<input type="text">
</span> -->

<div class="container-fluid">
  <div fxLayout="row wrap" #resizedDiv>
    <div class="flex-p w-100 sizeAlign">

      <div class="row">
        <div class="col-sm-4">L.R / Bilty / R.R / Docket No.:</div>
        <div class="col-sm-4">
          <input
            type="text"
            style="padding-left: 10px"
            placeholder="Enter L.R / Bilty / R.R / Docket No. "
          />
        </div>
      </div>
      
      <br />
      
      <div class="row">
        <div class="col-sm-4">L.R / Bilty / R.R / Docket Document:</div>
        <div class="col-sm-4">
          <input type="text" placeholder=" " type="file" />
      
          <span style="font-weight: bold">
            Formats allowed: doc, docx, pdf, jpg, jpeg,xls, xlsx,csv and png.File size
            must be less than 4 MB
          </span>

          
        </div>
      </div>
      <br />
      
      <div class="row">
        <div class="col-sm-4">Transporter/ Courier Name:</div>
        <div class="col-sm-4">
          <input
            type="text"
            placeholder="Enter Transporter/ Courier Name:"
            type="search"
          />
        </div>
      </div>
      <br />
      
      <div class="row">
        <div class="col-sm-4">Transporter Contact No.:</div>
        <div class="col-sm-4">
          <input
            type="text"
            placeholder="Enter Transporter Contact No.:"
            type="search"
          />
        </div>
      </div>
      <br />
      
      <div class="row">
        <div class="col-sm-4">Vehicle Number:</div>
        <div class="col-sm-4">
          <input type="text" placeholder="Enter Vehicle Number:" />
        </div>
      </div>
      <br />
      
      <div class="row">
        <div class="col-sm-4">Transportation Cost:</div>
        <div class="col-sm-4">
          <input
            type="text"
            type=""
            placeholder="Enter Transportation Cost:
          "
            type="/-"
          />
        </div>
      </div>
      <br />
      
      <div class="row">
        <div class="col-sm-4">Transporter Registration Code:</div>
        <div class="col-sm-4">
          <input type="text" placeholder="Enter Registration Code:" type="search" />
        </div>
      </div>
      <br />
      
      <div class="row">
        <div class="col-sm-4">Driver Contact No. :</div>
        <div class="col-sm-4">
          <input
            type="text"
            placeholder="Enter Driver Contact Number:
          "
            type="search"
          />
        </div>
      </div>
      <br />
      
      <div class="row">
        <div class="col-sm-4">Driver Name:</div>
        <div class="col-sm-4">
          <input
            type="text"
            placeholder="Enter Driver Name:
          "
            type="search"
          />
        </div>
      </div>
      <br />
      

    </div>
  </div>
</div>


<!-- <div class="col-sm-4">.col-sm-4</div>
</div> -->

<br />
<br />

<!-- 
<span>   
  L.R / Bilty / R.R / Docket Document:
  <input type="text" placeholder=""><input type="text" placeholder="Select file">
  Formats

</span>
<br>
<br>

<span>   
  Transporter/ Courier Name:
  <input type="text" placeholder="  Transporter/ Courier Name
  ">

</span>
<br>
<br>

<span>   
  Transporter Contact No.:
  <input type="text" placeholder="Enter Transportation Contact Number">
</span>
<br>
<br>

<span>   
  Vehicle Number:
  <input type="text" placeholder="Enter Vehicle Number">
</span>
<br>
<br>

<span>   
  Transportation Cost:
  <input type="text" placeholder="Enter Transportation Cost">
</span>
<br>
<br>

<span>   
  Transporter Registration Code:
  <input type="text" placeholder="Enter Registration Code">
</span>
<br>
<br>

<span>   
  Driver Contact No. :
  <input type="text" placeholder="Enter Driver Contact Number">
</span>
<br>
<br>

<span>   
  Driver Name:
  <input type="text" placeholder="Enter Driver Name">
</span> -->
