<!-- <div fxLayout="row" style="margin-top: 15px;">
  <div class=" col-lg-3">
    <div class="flex-p">
      <mat-card style="background-color: #007ad914;">
        <mat-icon style="font-size: 50px;margin-top: 10px; color: #007ad9;">savings</mat-icon>
        <mat-icon style="font-size: 50px;margin-top: 10px;">monetization_on</mat-icon>
        <mat-card-header style="margin-left:65px">

          <mat-card-subtitle style="margin-top: -65px;">
            <h2>14%</h2>
          </mat-card-subtitle>
          <mat-card-subtitle>
            <h3>Cost Savings</h3>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="flex-p">
      <mat-card style="background-color: #0cf80c29;">
        <mat-icon style="font-size: 50px;margin-top: 10px; color: green;">trending_up</mat-icon>
        <mat-card-header style="margin-left:80px">

          <mat-card-subtitle style="margin-top: -65px;">
            <h2>$8,000</h2>
          </mat-card-subtitle>
          <mat-card-subtitle>
            <h3>Procurement ROI</h3>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
  
  <div class="col-lg-3">
    <div class="flex-p">
      <mat-card style="background-color: #FDE58A;">
        <mat-icon style="font-size: 45px;margin-top: 10px; color: #BC970A;">monetization_on
        </mat-icon>
        <mat-card-header style="margin-left:90px">

          <mat-card-subtitle style="margin-top: -65px">
            <h2>
              $ 30,000
            </h2>
          </mat-card-subtitle>
          <mat-card-subtitle>
            <h3>Cost of Purchase</h3>
          </mat-card-subtitle>
        </mat-card-header>

      </mat-card>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="flex-p">
      <mat-card style="background-color: #ffa5003b;">
        <mat-icon style="font-size: 50px;margin-top: 10px; color: #ff6152;">warning
        </mat-icon>
        <mat-card-header style="margin-left:100px">

          <mat-card-subtitle style="margin-top: -65px">
            <h2>
              2.1%
            </h2>
          </mat-card-subtitle>
          <mat-card-subtitle>
            <h3>Defect Rate</h3>
          </mat-card-subtitle>
        </mat-card-header>

      </mat-card>
    </div>
  </div>


</div> -->

<div fxLayout="row" style="margin-top: 15px;">

  <div class="col-lg-3">
  <div class="flex-p">
  <mat-card class=" pb-2"
            style="border-radius: 5px;    background-image: linear-gradient(to top, #f3f3f1 0%, #f5f4f0 1%, #ffffff 31%, #ffffff 75%, #f3f3f3 100%);">
            <div class="row">
              <div class="col-9">
                <div class="row">
                  <div class="col-12">
                    <h4>Active RFQ</h4>
                  </div>
                  <div class="col-12">
                    <h5 class="text-warning pt-1">Till Date</h5>
                  </div>
                  <div class="col-12">
                    <h4 class="mb-0 d-inline-block  pt-1">12</h4> &nbsp; <mat-icon
                      style="font-size: 16px;font-weight: bold;" class="text-success">arrow_upward</mat-icon>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <mat-icon style="font-size: 37px;margin-top: 10px;" class="text-success"> format_indent_increase</mat-icon>
              </div>
            </div>
  
  </mat-card>
  </div>
  </div>
  
  <div class="col-lg-3">
    <div class="flex-p">
    <mat-card class=" pb-2"
    style="border-radius: 5px;    background-image: linear-gradient(to top, #f3f3f1 0%, #f5f4f0 1%, #ffffff 31%, #ffffff 75%, #f3f3f3 100%);">
    <div class="row">
      <div class="col-9">
        <div class="row">
          <div class="col-12">
            <h4>Vendors Covered</h4>
          </div>
          <div class="col-12">
            <h5 class="text-warning pt-1">Till Date</h5>
          </div>
          <div class="col-12">
            <h4 class="mb-0 d-inline-block  pt-1">8</h4> &nbsp; <mat-icon
              style="font-size: 16px;font-weight: bold;" class="text-danger">arrow_downward</mat-icon>
          </div>
        </div>
      </div>
      <div class="col-2">
        <mat-icon style="font-size: 37px;margin-top: 10px;" class="text-danger">check</mat-icon>
      </div>
    </div>
  
  </mat-card>
  </div>
  </div>
  
  <div class="col-lg-3">
  <div class="flex-p">
  <mat-card class=" pb-2"
  style="border-radius: 5px;    background-image: linear-gradient(to top, #f3f3f1 0%, #f5f4f0 1%, #ffffff 31%, #ffffff 75%, #f3f3f3 100%);">
  <div class="row">
    <div class="col-9">
      <div class="row">
        <div class="col-12">
          <h4>Items Covered</h4>
        </div>
        <div class="col-12">
          <h5 class="text-warning pt-1">Till Date</h5>
        </div>
        <div class="col-12">
          <h4 class="mb-0 d-inline-block  pt-1">112</h4> &nbsp; <mat-icon
          style="font-size: 16px;font-weight: bold;" class="text-danger">arrow_downward</mat-icon>
        </div>
      </div>
    </div>
    <div class="col-2">
      <mat-icon style="font-size: 37px;margin-top: 10px;" class="text-warning">event</mat-icon>
    </div>
  </div>
  
  </mat-card>
  </div>
  </div>
  
  <div class="col-lg-3">
    <div class="flex-p">
    <mat-card class=" pb-2"
    style="border-radius: 5px;    background-image: linear-gradient(to top, #f3f3f1 0%, #f5f4f0 1%, #ffffff 31%, #ffffff 75%, #f3f3f3 100%);">
    <div class="row">
      <div class="col-9">
        <div class="row">
          <div class="col-12">
            <h4>Quotes Received</h4>
          </div>
          <div class="col-12">
            <h5 class="text-warning pt-1">Till Date</h5> 
          </div>
          <div class="col-12">
            <h4 class="mb-0 d-inline-block  pt-1">105 / 112</h4>&nbsp; <mat-icon
            style="font-size: 16px;font-weight: bold;" class="text-danger">arrow_downward</mat-icon>
          </div>
        </div>
      </div>
      <div class="col-2">
        <mat-icon style="font-size: 37px;margin-top: 10px;" class="text-warning">event</mat-icon>
      </div>
    </div>
    
    </mat-card>
    </div>
    </div>
  
  
</div>


<div class="w-100">
  <div class="flex-p">
      <div class="row wrap">
          <div class="col-sm-12 no-padding">
              <div class="row-wrap">
                  <div class="w-100">
                      <div class="row">
                          <div class="col-xs-12">
                            <div class="col-xs-6">
                              
                            </div>
                            
                            <div class="col-xs-6">
                                <div class="row">
                                    <div class="col-xs-9 ">
                                      <div class="form-group " style="margin-top: 10px;">
                                        <p class="control-label col-sm-4 add-member-label" style="margin-top: 10px;" >
                                          Vendor Name:</p>
                                        <div class="col-sm-6">
                                          <input type="text" class="form-control" placeholder="Enter Vendor Name" style="margin-top: 5px;">
                                        </div>
                                      </div>
                                      <button mat-raised-button class="pull-right  btn-success col-sm-2"  >
                                         GO
                                      </button>
                                    </div>
                                    <div class="col-xs-3 ">
                                      <div class="flex-p">
                                         <button mat-raised-button class="pull-right  btn-primary" (click)="AddrfqPopup(null)" style="margin-right: 7px !important;">
                                          <mat-icon>add</mat-icon> 
                                          Submit RFQ
                                          </button>
                                        
                                      </div>
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="container-fluid" style="margin-top: 15px;">
  <div fxLayout="row wrap" #resizedDiv>
    <div class="flex-p w-100 sizeAlign">
     <div class="row">
        <div class="col-xs-12">
          <!-- <div class="col-xs-12">
            <div class="col-xs-10">
              <div class="col-xs-6">

              </div>
              <div class="col-xs-6">
                <div class="form-group ">
                  <p class="control-label col-sm-4 add-member-label">Requisition approval:</p>
                  <div class="col-sm-8">
                    <mat-select class="form-control" placeholder="Select">
                      <mat-option [value]="0">All</mat-option>
                      <mat-option [value]="0">Approved</mat-option>
                      <mat-option [value]="1">Declined</mat-option>
                    </mat-select>
                  </div>
                  
                </div>
              </div>
              
            </div>
            
                <button mat-raised-button class="pull-right  btn-primary" (click)="AddrfqPopup(null)" style="margin-bottom: 10px;margin-right: -15px !important;">
                <mat-icon>add</mat-icon> Add RFQ
                </button>
            
          </div> -->
          
          
          <div id="grid-table-container" class="table-responsive">
            <table matSort id="example2" 
            class="table table-bordered table-hover">
              <thead class="tbl-head">
                <tr>

                  <th class="text-left" style="width: 5012px!important;">
                    Actions</th> 
                  <th class="text-left" style="width:39980px !important;">
                    RFQ Title</th>
                  <th class="text-left" style="width:14980px !important;" >
                    RFQ Ref</th>
                  <th class="text-center" style="width:18980px !important;">
                    RFQ Date</th>
                  <th  class="text-left" style="width:18980px !important;" >
                    Vendor Name</th>
                  <th class="text-left" >Vendor Email Id</th>
                  <th class="text-left">Contact #</th>
                  <th class="text-center" style="width:2980px !important;">
                    Closure Date</th>
                  <th class="text-center">Item</th>
                  <th class="text-center">Quotes</th>
                  <th class="text-left" style="width:70980px !important;" >
                    Remarks</th>
                  <th class="text-center">Status</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of items">
                  <td class="text-center editDel">
                    <a style="cursor: pointer;margin-right:10px; " matTooltip="Update Item"
                    (click)="AddrfqPopup(item)">
                      <i class="fa fa-edit" style="color: cornflowerblue"></i>
                    </a>
                    <a><i class="fa fa-trash red" matTooltip="Delete Item" 
                      style="cursor: pointer;"></i></a>
                      <a><i class="fa fa-arrow-right" matTooltip="Convert to Quotes" style="cursor: pointer; margin-left: 11px;" aria-hidden="true"></i></a>
              
                   
                  </td>

                  <td  class="text-center" style="width: 200px;" >{{item.rfqtitle}}</td>
                  <td style="width: 100px;" class="text-center" >{{item.rfqref}}</td>

                  <td  class="text-center">{{item.RFQDate }}</td>
                  <td class="text-center" >{{item.VendorName}}</td>
                  <td class="text-center" >{{item.email}}</td>
                  <td class="text-center" >{{item.contactnumber}}</td>
                  <td class="text-center" >{{item.ClosureDate}}</td>
                  <td class="text-center"  routerLink="/purchase/servicecontracts/RfqServicecontracts/rfq-item-details" style="color: blue;">{{item.items}}</td>
                  <td class="text-center"  style="text-align: center !important;cursor: pointer;color: blue;" routerLink="/purchase/servicecontracts/RfqServicecontracts/rfqServiceQuotes"  >{{item.Quotes }}</td>
                  <td class="text-center"  >{{item.remarks}}</td>
                  <td class="text-center">{{item.status }}</td>
                  
                </tr>
              </tbody>
            </table>

            <button class="mine" mat-fab (click)="scrollGrid('right');" >
              <mat-icon style="color:#37474f">fast_forward</mat-icon>
            </button>
            <button class="mine" mat-fab style="margin-right: 78px !important;" (click)="scrollGrid('left');">
              <mat-icon style="color:#37474f">fast_rewind</mat-icon>
            </button>
            
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>






<!-- <div class="container-fluid" class="col-lg-2 col-sm-2 col-md-2 col-xs-2 " style="margin-top: 25px;">
    <div fxLayout="row wrap" #resizedDiv>
      <div class="flex-p w-100 sizeAlign">
        <div class="row">
          <div class="col-xs-12" style="margin-bottom: 15px;">
              <div class="pills">
                  <ul class="nav nav-pills " style="max-width: 100% !important;" >
                      <li routerLinkActive="active" routerLink="/purchase/material-management/requisition/Overview">
                          <a mat-raised-button class="navtabWidth "  style="width: 155px; text-align: left !important;" >
                            Overview
                          </a>
                      </li>
                                                  
                  </ul>
                  <br>
                  <ul class="nav nav-pills" >
                    <li style="margin-top: -12px;" routerLinkActive="active" routerLink="/purchase/material-management/requisition/Itemsandquantites">
                      <a mat-raised-button class="navtabWidth"  >
                        Items & Quantities
                      </a>
                    </li>                            
                </ul>
              </div>
          </div>
      </div>

      </div>
    </div>
  </div>

 
  <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10">
    <router-outlet></router-outlet>
  </div> -->
