
<h1 mat-dialog-title class="custom-header" style="background-color:#286ba5 !important;height:50px;font-weight: bold !important;">Purchase Details</h1>
<div class="container-fluid">
               
              
               
               <div class="container-fluid" style="margin-top: 15px;">
                 <div fxLayout="row wrap" #resizedDiv>
                   <div class="flex-p w-100 sizeAlign">
                    <div class="row">
                       <div class="col-xs-12">
                        
                           
                         
                         <div id="grid-table-container" class="table-responsive">
                           <table matSort id="example2" class="table table-bordered table-hover">
                             <thead class="tbl-head">
                               <tr>
                                 <th _ngcontent-c21="" style="min-width: 200px;" class="text-center">PO Ref#</th>
                                 <!-- <th _ngcontent-c21="" style="min-width: 200px;" class="text-center">Vendor</th> -->
                                 
                                 <!-- <th _ngcontent-c21="" style="min-width: 100px;">Items</th> -->
                                 <!-- <th _ngcontent-c21="" style="min-width: 100px;" class="text-center">Delivery Date</th>
                                 <th _ngcontent-c21="" style="min-width: 80px;" class="text-center">Value</th> -->
                                 <th _ngcontent-c21="" style="min-width: 80px;" class="text-center">Status</th>
                                 <!-- <th _ngcontent-c21="" style="min-width: 80px;">Approval</th>
                                 <th _ngcontent-c21="" style="min-width: 80px;">Publish</th> -->
                                </tr>
                             </thead>
                             <tbody>
                               <tr *ngFor="let item of items">
                                 
                                 <td class="text-center" routerLink="/purchase/procurement/purchase-orders/unpublished-po" (click)="close()" style="cursor:pointer;color: blue ;">{{item.PORef}}</td>
                                 <!-- <td class="text-center">{{item.Vendor }}</td> -->
                                 
                                 <!-- <td class="text-center">{{item.Delivery }}</td>
                                 <td class="text-center">{{item.Value }}</td> -->
                                 <td style="text-align: center!important;">
                                  <mat-select [style.background]="item.stageColour" style="min-width: 120px;"
                                      [(value)]="item.Status" 
                                      placeholder="--Select Stage --" class='form-control'>
                                      <ng-container *ngFor='let option of statusOptions'>
                                          <mat-option [style.background]="option.colorCode" class='option'
                                              [value]="option.value" >
                                              {{option.name}}</mat-option>
                                      </ng-container>
                                  </mat-select>
                              </td>
                                 
                                 
                               </tr>
                             </tbody>
                           </table>
                           
                          
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
                 </div>
                 <mat-dialog-actions align="end">
                   <button mat-raised-button class="add-hover btn-primary" type="submit" (click)="close()"><mat-icon>send</mat-icon>&nbsp;Save</button>
                   <button mat-raised-button type="button" class="add-dark-hover btn-default" (click)="close()"><mat-icon>cancel</mat-icon>&nbsp;Cancel</button>
               </mat-dialog-actions>
</div>
