<app-project-dashboard></app-project-dashboard>


<div class="row mt-4 link-panel">
  <div class="col-xs-12 pl-0" style="margin-bottom: 15px;">
      <div class="pills">
          <ul class="nav nav-pills" style="margin-left: 10px;">

              <li routerLinkActive="active" routerLink="planning">
                  <a mat-raised-button class="navtabWidth">
                      Planning
                  </a>
              </li>

              <li routerLinkActive="active" routerLink="attendance">
                  <a mat-raised-button class="navtabWidth">
                      Attendance
                  </a>
              </li>
              
          </ul>
      </div>
  </div>
</div>

<router-outlet></router-outlet>